copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/AbsListView.java
abslistview.include.methods=performItemClick,setChoiceMode,getChoiceMode,getCheckedItemIds,getCheckedItemPositions,getCheckedItemPosition,isItemChecked,getCheckedItemCount,setAdapter,clearChoices

#abslistview.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,layoutVertical,layoutVertical,layoutHorizontal\
#,getVirtualChildCount,measureNullChild,getShowDividers,getDividerDrawable,getVirtualChildAt,getChildrenSkipCount,hasDividerBeforeChildAt\
#,measureChildBeforeLayout,getNextLocationOffset,forceUniformWidth,allViewsAreGoneBefore\
#,forceUniformHeight,getLocationOffset,setChildFrame,generateLayoutParams-ViewGroup.LayoutParams,checkLayoutParams\
#,setBaselineAligned,setBaselineAlignedChildIndex,setGravity,setMeasureWithLargestChildEnabled,setOrientation,setWeightSum,forceLayout,requestLayout,setLayoutDirection,generateDefaultLayoutParams,\
#isBaselineAligned,getBaselineAlignedChildIndex,getGravity,isMeasureWithLargestChildEnabled,getOrientation,getWeightSum,layoutChildren,removeDetachedView,obtainView,setItemViewLayoutParams,resetList,handleDataChanged,\
#confirmCheckedPositionsById,reconcileSelectedPosition,setAdapter,computeVerticalScrollRange,fillGap,trackMotionScroll,getHeaderViewsCount,getFooterViewsCount,hideSelector,getListPaddingTop,getListPaddingBottom
abslistview.exclude.methods=
abslistview.include.fields=type:int,mCheckStates,mCheckedIdStates,mChoiceActionMode,mMultiChoiceModeCallback,mAdapter,mAdapterHasStableIds
#abslistview.include.fields=type:int,type:boolean,mDivider,weight,mWeightSum,mMaxAscent,mMaxDescent,mItemCount,mListPadding,mRecycler,mFastScroll,mActiveViews,mScrapViews,mCurrentScrap,mSkippedScrap,mTransientStateViews,mTransientStateViewsById,mAdapter,mRecyclerListener,itemId,mSelector,mIsScrap,mAccessibilityDelegate,mPositionScrollAfterLayout,mPendingSync,mSelectorRect,\
#mCheckStates,mCheckedIdStates,mMultiChoiceModeCallback,mChoiceActionMode,mDataSetObserver
abslistview.exclude.fields=mLastScrollState
abslistview.include.classes=AbsListView
#abslistview.include.classes=AbsListView,LayoutParams,RecyclerListener,RecycleBin,AdapterDataSetObserver
abslistview.exclude.classes=
abslistview.include.variable=
abslistview.exlude.variable=
abslistview.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,android.util.LongSparseArray,android.util.SparseArray,android.util.SparseBooleanArray,java.util.List,android.view.accessibility.AccessibilityEvent,android.os.Trace,android.view.accessibility.AccessibilityManager
abslistview.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams
layoutparams.exclude.methods=

recyclebin.include.methods=*
recyclebin.exclude.methods=

recyclerlistener.include.methods=*
recyclerlistener.exclude.methods=


adapterdatasetobserver.include.methods=*
adapterdatasetobserver.exclude.methods=

copyfilesfromurl.0=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/widget/Adapter.java?format=TEXT
copyfilesfromurl.1=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/widget/ListAdapter.java?format=TEXT
copyfilesfromurl.2=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/widget/BaseAdapter.java?format=TEXT

copyfilesfromurlDestLocation=../../core-javafx-widget/SWTAndroid/src/main/java/r/