copyto=../../core-javafx-widget/SWTAndroidToolBar/src/main/java/androidx/appcompat/widget/ActionMenuView.java
actionmenuview.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,onMeasureExactFormat,measureChildForCells,getDividerWidth,\
hasSupportDividerBeforeChildAt,checkLayoutParams,setOverflowReserved,generateOverflowButtonLayoutParams,generateDefaultLayoutParams,initialize
actionmenuview.exclude.methods=
actionmenuview.include.fields=type:int,type:boolean,mMenu
actionmenuview.exclude.fields=
actionmenuview.include.classes=ActionMenuView,LayoutParams
actionmenuview.exclude.classes=
actionmenuview.include.variable=
actionmenuview.exlude.variable=
actionmenuview.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,java.util.List,androidx.core.view.GravityCompat,android.support.v7.widget.ViewUtils,android.support.v7.widget.RtlSpacingHelper,android.os.Build,\
android.support.v4.view.MarginLayoutParamsCompat,android.support.v7.view.menu.MenuItemImpl,androidx.appcompat.view.menu.MenuBuilder
actionmenuview.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams
layoutparams.exclude.methods=


linearlayoutcompat.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,layoutVertical,layoutVertical,layoutHorizontal\
,getVirtualChildCount,measureNullChild,getShowDividers,getDividerDrawable,getVirtualChildAt,getChildrenSkipCount,hasDividerBeforeChildAt\
,measureChildBeforeLayout,getNextLocationOffset,forceUniformWidth,allViewsAreGoneBefore\
,forceUniformHeight,getLocationOffset,setChildFrame,generateLayoutParams-ViewGroup.LayoutParams,checkLayoutParams\
,setBaselineAligned,setBaselineAlignedChildIndex,setGravity,setMeasureWithLargestChildEnabled,setOrientation,setWeightSum,forceLayout,requestLayout,setLayoutDirection,generateDefaultLayoutParams,\
isBaselineAligned,getBaselineAlignedChildIndex,getGravity,isMeasureWithLargestChildEnabled,getOrientation,getWeightSum,setDividerPadding,getDividerPadding,setShowDividers,isShowingDividers,setDividerDrawable,\
drawDividersVertical,drawDividersHorizontal,getLastNonGoneChild,drawHorizontalDivider,drawVerticalDivider,onDraw,getBaseline
linearlayoutcompat.exclude.methods=
linearlayoutcompat.include.fields=type:int,mUseLargestChild,mWeightSum,mBaselineAligned,mMaxAscent,mMaxDescent,mDivider
linearlayoutcompat.exclude.fields=
linearlayoutcompat.include.classes=LinearLayoutCompat,LayoutParams
linearlayoutcompat.exclude.classes=
linearlayoutcompat.include.variable=
linearlayoutcompat.exlude.variable=
linearlayoutcompat.include.imports=android.view.View,android.view.Gravity,androidx.core.view.GravityCompat,android.view.ViewGroup,android.widget.LinearLayout,androidx.core.view.ViewCompat,androidx.appcompat.view.menu.MenuBuilder,android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,android.graphics.Canvas
linearlayoutcompat.exclude.imports=

menubuilder.include.methods=add,addInternal,getOrdering,createNewMenuItem,flagActionItems,getVisibleItems,getActionItems,getNonActionItems,findInsertIndex,clearAll,clear,clearHeader
menubuilder.exclude.methods=
menubuilder.include.fields=type:int,type:boolean,sCategoryToOrder,CATEGORY_SHIFT,USER_MASK,mItems,mResources,mVisibleItems,mNonActionItems,mActionItems,mPresenters,mHeaderIcon,mHeaderTitle,mHeaderView,mExpandedItem
menubuilder.exclude.fields=
menubuilder.include.classes=MenuBuilder
menubuilder.exclude.classes=
menubuilder.include.variable=
menubuilder.exlude.variable=
menubuilder.include.imports=android.view.View,android.view.Gravity,androidx.core.view.GravityCompat,android.view.ViewGroup,android.widget.LinearLayout,androidx.core.view.ViewCompat,java.util.ArrayList,android.view.MenuItem,android.content.res.Resources,java.lang.ref.WeakReference,android.graphics.drawable.Drawable
menubuilder.exclude.imports=

actionmenupresenter.include.methods=flagActionItems,getItemView,updateMenuView,setReserveOverflow,setMenu,setMenuView,setMenu,setActionMenuPresenter,shouldIncludeItem
actionmenupresenter.exclude.methods=
actionmenupresenter.include.fields=type:int,type:boolean,mActionButtonGroups,mMenu,mScrapActionButtonView,mSystemContext
actionmenupresenter.exclude.fields=
actionmenupresenter.include.classes=ActionMenuPresenter
actionmenupresenter.exclude.classes=
actionmenupresenter.include.variable=
actionmenupresenter.exlude.variable=
actionmenupresenter.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,java.util.List,android.support.v4.view.ViewCompat,android.support.v4.view.GravityCompat,android.support.v7.widget.ViewUtils,android.support.v7.widget.RtlSpacingHelper,android.os.Build,\
android.support.v4.view.MarginLayoutParamsCompat,android.util.SparseBooleanArray,android.view.View.MeasureSpec,android.view.ViewGroup,android.view.View,\
androidx.appcompat.view.menu.MenuItemImpl,android.support.v4.view.ActionProvider,androidx.appcompat.view.menu.BaseMenuPresenter
actionmenupresenter.exclude.imports=

basemenupresenter.include.methods=updateMenuView,filterLeftoverView,addItemView,shouldIncludeItem,setMenu,flagActionItems
basemenupresenter.exclude.methods=
basemenupresenter.include.fields=type:int,type:boolean,mActionButtonGroups,mMenu,mScrapActionButtonView,mSystemContext
basemenupresenter.exclude.fields=
basemenupresenter.include.classes=BaseMenuPresenter
basemenupresenter.exclude.classes=
basemenupresenter.include.variable=
basemenupresenter.exlude.variable=
basemenupresenter.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,java.util.List,android.support.v4.view.ViewCompat,android.support.v4.view.GravityCompat,android.support.v7.widget.ViewUtils,android.support.v7.widget.RtlSpacingHelper,android.os.Build,\
android.support.v4.view.MarginLayoutParamsCompat,android.util.SparseBooleanArray,android.view.View.MeasureSpec,android.view.ViewGroup,android.view.View,android.content.Context
basemenupresenter.exclude.imports=

menuitemimpl.include.methods=MenuItemImpl-MenuBuilder-int -int-int-int-CharSequence-int,isActionViewExpanded,hasCollapsibleActionView,setIsActionButton,getGroupId,requestsActionButton,getActionView,requiresActionButton,isActionButton,getOrdering,isVisible,setIcon,setShowAsAction,setIconTintList,getItemId
menuitemimpl.exclude.methods=
menuitemimpl.include.fields=type:int,type:boolean,mMenu,mTitle,mIconDrawable,mIconTintList
menuitemimpl.exclude.fields=mShortcutNumericModifiers,mShortcutAlphabeticModifiers,mActionView
menuitemimpl.include.classes=MenuItemImpl
menuitemimpl.exclude.classes=
menuitemimpl.include.variable=
menuitemimpl.exlude.variable=
menuitemimpl.include.imports=android.view.View,android.view.Gravity,androidx.core.view.GravityCompat,android.view.ViewGroup,android.widget.LinearLayout,androidx.core.view.ViewCompat,android.view.MenuItem,android.graphics.drawable.Drawable,android.content.res.ColorStateList
menuitemimpl.exclude.imports=

actionmenuitemview.include.methods=hasText
actionmenuitemview.exclude.methods=
actionmenuitemview.include.fields=type:int,type:boolean
actionmenuitemview.exclude.fields=
actionmenuitemview.include.classes=ActionMenuItemView
actionmenuitemview.exclude.classes=
actionmenuitemview.include.variable=
actionmenuitemview.exlude.variable=
actionmenuitemview.include.imports=android.viewView,android.view.Gravity,androidx.core.view.GravityCompat,android.view.ViewGroup,android.widget.LinearLayout,androidx.core.view.ViewCompat,android.text.TextUtils
actionmenuitemview.exclude.imports=

dependent.files.0=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/appcompat/appcompat/src/main/java/androidx/appcompat/widget/LinearLayoutCompat.java?format=TEXT
dependent.files.1=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/appcompat/appcompat/src/main/java/androidx/appcompat/view/menu/MenuBuilder.java?format=TEXT
dependent.files.2=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/appcompat/appcompat/src/main/java/androidx/appcompat/widget/ActionMenuPresenter.java?format=TEXT
dependent.files.3=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/appcompat/appcompat/src/main/java/androidx/appcompat/view/menu/BaseMenuPresenter.java?format=TEXT
dependent.files.4=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/appcompat/appcompat/src/main/java/androidx/appcompat/view/menu/MenuItemImpl.java?format=TEXT
#dependent.files.4=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/appcompat/appcompat/src/main/java/androidx/appcompat/view/menu/ActionMenuItemView.java?format=TEXT
#copyfilesfromurl.3=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/appcompat/appcompat/src/main/java/androidx/appcompat/view/menu/MenuView.java?format=TEXT
#copyfilesfromurl.4=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/core/core/src/main/java/androidx/core/internal/view/SupportMenu.java?format=TEXT
#copyfilesfromurl.5=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/core/core/src/main/java/androidx/core/internal/view/SupportMenuItem.java?format=TEXT
#copyfilesfromurl.6=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/core/core/src/main/java/androidx/core/internal/view/SupportSubMenu.java?format=TEXT
#copy.files.5=../../core-javafx-widget/javafx_widget_Library/gen/r/android/support/v7/widget/OverflowMenuButton.java:../../core-javafx-widget/SWTAndroid/src/main/java/r/android/support/v7/widget/OverflowMenuButton.java
#copy.files.6=../../core-javafx-widget/javafx_widget_Library/gen/r/android/support/v7/widget/ActionBarTransition.java:../../core-javafx-widget/SWTAndroid/src/main/java/r/android/support/v7/widget/ActionBarTransition.java
#copy.files.7=../../core-javafx-widget/javafx_widget_Library/gen/r/android/support/v7/widget/ActionMenuItemView.java:../../core-javafx-widget/SWTAndroid/src/main/java/r/android/support/v7/widget/ActionMenuItemView.java


copyfilesfromurlDestLocation=../../core-javafx-widget/SWTAndroidToolBar/src/main/java/

replacestrings.0=item\\.setMenuInfo\\(mCurrentMenuInfo\\);~//item.setMenuInfo(mCurrentMenuInfo);
replacestrings.1=mCurrentMenuInfo != null~false
replacestrings.2=public final class MenuItemImpl~public final class MenuItemImpl implements MenuItem
replacestrings.3=extends AppCompatTextView~extends r.android.view.View
replacestrings.4=class BaseMenuPresenter~class BaseMenuPresenter implements MenuPresenter
replacestrings.5=mOverflowButton=new OverflowMenuButton~mOverflowButton=mMenuView.getOverFlowButton();//mOverflowButton=new OverflowMenuButton
replacestrings.6=actionItems\\.get\\(i\\)\\.getSupportActionProvider\\(\\);~null;//actionItems.get(i).getSupportActionProvider();
replacestrings.7=child instanceof ActionMenuItemView~isActionMenuItemView(child)
replacestrings.8=\\(\\(ActionMenuItemView\\)child\\)\\.hasText\\(\\)~hasText(child)
replacestrings.9=\\(ActionMenuItemView\\)child~(View)child
replacestrings.10=final ActionMenuItemView itemView~final View itemView
replacestrings.11=itemView\\.hasText\\(\\)~hasTextStatic(itemView)
replacestrings.12=menuView\\.initialize\\(mMenu\\);~menuView.initialize(mMenu);subtractOverFlow();
