copyto=../../core-javafx-widget/javafx_widget_Library/gen/no/agens/cassowarylayout/CassowaryLayout.java
cassowarylayout.include.methods=onMeasure,onLayout,generateLayoutParams-ViewGroup.LayoutParams,\
,onLayout,onLayout,layoutChildren,getNodeById,setMeasuredDimensionsFromAspectRatio,setMeasuredDimensionsFromCassowaryModel,saveMeasureSpec,\
cassowaryMeasure,setMeasureSpecOnCassowaryModel,measureChildrenUsingNodes,getIntrinsicHeights,getIntrinsicWidths,getAspectRatio,log,setVariableToValue\
,getAspectRatioWidthFactor,getAspectRatioHeightFactor,getMeasuredWidth,getMeasuredHeight,setChildPositionsFromCassowaryModel,generateDefaultLayoutParams,checkLayoutParams\
,shouldDelayChildPressedState,isMeasureSpecSet,isAspectRatioFixed,setAspectRatioFixed,addConstraints,addAutoLayoutConstraints
,sortOrdersIntoReorderedIndices
cassowarylayout.exclude.methods=
cassowarylayout.include.fields=type:String,type:Integer,type:boolean,state,cassowaryModel,viewIdResolver,type:float,setupObservers,executorService
cassowarylayout.exclude.fields=handler
cassowarylayout.include.classes=CassowaryLayout,LayoutParams,CassowaryLayoutSetupCallback
cassowarylayout.exclude.classes=
cassowarylayout.include.variable=
cassowarylayout.exlude.variable=
cassowarylayout.include.imports=java.util.ArrayList,java.util.HashMap,java.util.Iterator,java.util.Map,java.util.concurrent.ExecutorService,java.util.concurrent.Executors,no.agens.cassowarylayout.util.MeasureSpecUtils,no.agens.cassowarylayout.util.TimerUtil,android.content.Context,android.support.v4.view.ViewCompat,android.util.Log,android.view.View,android.view.ViewGroup,com.ashera.android.factory.ui.CassowaryLayoutImpl,com.ashera.android.factory.ui.NativeImpl,android.view.View.MeasureSpec
cassowarylayout.exclude.imports=
cassowarylayout.include.interfaces=*

layoutparams.include.methods=LayoutParams-default,LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,isNewLine,getGravity,getWeight,setNewLine,setWeight,setGravity
layoutparams.exclude.methods=

cassowarylayoutsetupcallback.include.methods=*
cassowarylayoutsetupcallback.exclude.methods=
copy.files.0=../android_widget_library/src/no/agens/cassowarylayout/CassowaryModel.java:../../core-javafx-widget/javafx_widget_Library/gen/no/agens/cassowarylayout/CassowaryModel.java
copy.files.1=../android_widget_library/src/no/agens/cassowarylayout/ChildNode.java:../../core-javafx-widget/javafx_widget_Library/gen/no/agens/cassowarylayout/ChildNode.java
copy.files.2=../android_widget_library/src/no/agens/cassowarylayout/ConstraintParser.java:../../core-javafx-widget/javafx_widget_Library/gen/no/agens/cassowarylayout/ConstraintParser.java
copy.files.3=../android_widget_library/src/no/agens/cassowarylayout/ContainerNode.java:../../core-javafx-widget/javafx_widget_Library/gen/no/agens/cassowarylayout/ContainerNode.java
copy.files.4=../android_widget_library/src/no/agens/cassowarylayout/DefaultViewIdResolver.java:../../core-javafx-widget/javafx_widget_Library/gen/no/agens/cassowarylayout/DefaultViewIdResolver.java
copy.files.5=../android_widget_library/src/no/agens/cassowarylayout/Node.java:../../core-javafx-widget/javafx_widget_Library/gen/no/agens/cassowarylayout/Node.java
copy.files.6=../android_widget_library/src/no/agens/cassowarylayout/ViewIdResolver.java:../../core-javafx-widget/javafx_widget_Library/gen/no/agens/cassowarylayout/ViewIdResolver.java
copy.files.7=../android_widget_library/src/no/agens/cassowarylayout/util/:../../core-javafx-widget/javafx_widget_Library/gen/no/agens/cassowarylayout/util/
copy.files.8=../android_widget_library/src/org/pybee/cassowary/:../../core-javafx-widget/javafx_widget_Library/gen/org/pybee/cassowary/
copy.files.9=../android_widget_library/src/com/ashera/android/layouts/:../../core-javafx-widget/javafx_widget_Library/gen/com/ashera/android/layouts/

copy.files.10=../android_widget_library/src/com/ashera/android/utils/LayoutUtils.java:../../core-javafx-widget/javafx_widget_Library/src/com/ashera/android/utils/LayoutUtils.java
copy.files.11=../android_widget_library/src/com/ashera/android/utils/LayoutUtils.java:../../core-ios-widgets/ios_widget_library/src/com/ashera/android/utils/LayoutUtils.java
