copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/Chronometer.java
chronometer.include.methods=init,setCountDown,isCountDown,setBase,getBase,setFormat,getFormat,setOnChronometerTickListener,getOnChronometerTickListener,start,stop,setStarted,updateText,updateRunning,dispatchChronometerTick
chronometer.exclude.methods=
chronometer.include.fields=type:int,type:long,type:boolean,mFormat,mOnChronometerTickListener,mFormatBuilder,mFormatter,mFormatterLocale,mFormatterArgs,mRecycle,TAG
chronometer.exclude.fields=
chronometer.include.classes=Chronometer,OnChronometerTickListener
chronometer.exclude.classes=
chronometer.include.variable=
chronometer.exlude.variable=
chronometer.include.imports=java.util.Locale,java.util.ArrayList,android.view.View,java.util.Formatter,java.util.IllegalFormatException,android.text.format.DateUtils,android.util.Log,android.os.SystemClock
chronometer.exclude.imports=

onchronometerticklistener.include.methods=onChronometerTick
onchronometerticklistener.exclude.methods=

replacestrings.0=getString\\(R~getString(r.android.R