copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/content/res/ColorStateList.java
colorstatelist.include.methods=withAlpha,valueOf,ColorStateList-int[][]-int[],ColorStateList-default,onColorsChanged,hasState,isStateful,hasFocusStateSpecified,isOpaque,getColorForState,getStates,getColors,getDefaultColor
colorstatelist.exclude.methods=
colorstatelist.include.fields=type:int,type:boolean,mStateSpecs,mColors,mThemeAttrs,sCache,EMPTY
colorstatelist.exclude.fields=
colorstatelist.include.classes=ColorStateList
colorstatelist.exclude.classes=
colorstatelist.include.variable=
colorstatelist.exlude.variable=
colorstatelist.include.imports=android.util.SparseArray,java.lang.ref.WeakReference,java.util.Arrays,android.util.StateSet,android.graphics.Color
colorstatelist.exclude.imports=

replacestrings.0=extends ComplexColor~ 
replacestrings.1=R\\.attr\\.state_focused~r.android.R.attr.state_focused
replacestrings.2=private void onColorsChanged~public void onColorsChanged

