copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/CompoundButton.java
compoundbutton.include.methods=toggle,isChecked,setChecked,setOnCheckedChangeListener,setOnCheckedChangeWidgetListener,setButtonDrawable,getButtonDrawable,setButtonTintList,getButtonTintList,getCompoundPaddingLeft,getCompoundPaddingRight,getHorizontalOffsetForDrawables,onDraw,onCreateDrawableState
compoundbutton.exclude.methods=
compoundbutton.include.fields=type:int,type:boolean,mButtonDrawable,mButtonTintList,mOnCheckedChangeListener,mOnCheckedChangeWidgetListener
compoundbutton.exclude.fields=
compoundbutton.include.classes=CompoundButton,OnCheckedChangeListener
compoundbutton.exclude.classes=
compoundbutton.include.variable=
compoundbutton.exlude.variable=
compoundbutton.include.imports=android.content.res.ColorStateList,android.graphics.drawable.Drawable,android.view.Gravity,android.graphics.Canvas
compoundbutton.exclude.imports=


oncheckedchangelistener.include.methods=*
oncheckedchangelistener.exclude.methods=
