copyto=../../core-javafx-widget/SWTAndroidXConstraintLayout/src/main/java/androidx/constraintlayout/widget/ConstraintLayout.java

constraintlayout.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,setSelfDimensionBehaviour,updateHierarchy,internalMeasureDimensions,updatePostMeasures,internalMeasureChildren,setChildrenConstraints,isInEditMode,getTargetWidget,getViewWidget,setDesignInformation,validate,solveLinearSystem,getDesignInformation,setConstraintSet,generateDefaultLayoutParams,setMinWidth,setMinHeight,getMinWidth,getMinHeight,setMaxWidth,setMaxHeight,getMaxWidth,getMaxHeight,addView,removeView,onViewAdded,onViewRemoved,getViewById,requestLayout,applyConstraintsFromLayoutParams,setWidgetBaseline,resolveMeasuredDimension,markHierarchyDirty,isRtl,resolveSystem,getPaddingWidth,setOptimizationLevel,getOptimizationLevel
constraintlayout.exclude.methods=
constraintlayout.include.fields=type:int,type:boolean,mLayoutWidget,mVariableDimensionsWidgets,mDesignIds,mConstraintSet,mConstraintHelpers,type:float,widget,mChildrenByIds,dimensionRatio,mMetrics,type:String,mTempMapIdToWidget,mMeasurer,layout
constraintlayout.exclude.fields=
constraintlayout.include.classes=ConstraintLayout,LayoutParams,Measurer
constraintlayout.exclude.classes=
constraintlayout.include.variable=
constraintlayout.exlude.variable=
constraintlayout.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,android.widget.LinearLayout,java.util.List,java.util.Arrays,java.lang.reflect.Array,java.util.Map,java.util.HashMap\
,android.util.Pair,java.lang.Math.max,java.lang.Math.min,android.view.View.MeasureSpec.EXACTLY,android.view.View.MeasureSpec.makeMeasureSpec,androidx.core.view.ViewCompat\
,androidx.core.view.ViewGroupCompat,android.support.constraint.solver.widgets,android.support.constraint.solver.widgets.Guideline,android.util.SparseArray,android.os.Build,\
android.support.constraint.ConstraintLayout.LayoutParams,android.view.ViewGroup.LayoutParams.MATCH_PARENT,android.view.ViewGroup.LayoutParams.WRAP_CONTENT,android.support.constraint.solver.Metrics,\
android.content.res.Resources,androidx.constraintlayout.core.LinearSystem,androidx.constraintlayout.core.Metrics,androidx.constraintlayout.core.widgets.ConstraintAnchor,androidx.constraintlayout.core.widgets.ConstraintWidget,androidx.constraintlayout.core.widgets.ConstraintWidgetContainer,\
androidx.constraintlayout.core.widgets.Guideline,androidx.constraintlayout.core.widgets.Optimizer,androidx.constraintlayout.core.widgets.analyzer.BasicMeasure,androidx.constraintlayout.widget.ConstraintLayout.LayoutParams,android.content.pm.ApplicationInfo,androidx.constraintlayout.core.widgets.VirtualLayout
constraintlayout.exclude.imports=
constraintlayout.include.interfaces=BasicMeasure.Measurer

layoutparams.include.methods=LayoutParams-default,LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,setRowSpecSpan,setColumnSpecSpan,LayoutParams-Spec-Spec,\
LayoutParams-int-int-int-int-int-int-Spec-Spec,validate,resolveLayoutDirection
layoutparams.exclude.methods=

measurer.include.methods=*
measurer.exclude.methods=


flow.include.methods=resolveRtl,onMeasure,loadParameters,setOrientation,setPadding,setPaddingLeft,setPaddingTop,setPaddingRight,setPaddingBottom,setWrapMode,setHorizontalStyle,setVerticalStyle,setHorizontalBias,setVerticalBias,setFirstHorizontalStyle,setFirstVerticalStyle,setFirstHorizontalBias,setFirstVerticalBias,\
setHorizontalAlign,setVerticalAlign,setHorizontalGap,setVerticalGap,setMaxElementsWrap
flow.exclude.methods=
flow.include.fields=type:int,type:boolean,mFlow,TAG
flow.exclude.fields=
flow.include.classes=Flow
flow.exclude.classes=
flow.include.variable=
flow.exlude.variable=
flow.include.imports=android.os.Build,android.view.View,android.content.res.Configuration,androidx.constraintlayout.widget.ConstraintLayout,androidx.constraintlayout.widget.ConstraintSet,androidx.constraintlayout.widget.R,androidx.constraintlayout.widget.VirtualLayout,androidx.constraintlayout.core.widgets.ConstraintWidget,androidx.constraintlayout.core.widgets.HelperWidget,android.util.SparseArray
flow.exclude.imports=


circularflow.include.methods=getRadius,getAngles,anchorReferences,addViewToCircularFlow,updateRadius,updateAngle,updateReference,setDefaultAngle,setDefaultRadius,removeView,removeAngle,removeRadius,setAngles,setRadius,addAngle,addRadius,removeElementFromArray,removeElementFromArray,isUpdatable,onAttachedToWindow
circularflow.exclude.methods=
circularflow.include.fields=type:String,type:int,type:boolean,mAngles,mRadius,type:Float,mContainer,DEFAULT_ANGLE,mReferenceDefaultRadius
circularflow.exclude.fields=
circularflow.include.classes=CircularFlow
circularflow.exclude.classes=
circularflow.include.variable=
circularflow.exlude.variable=
circularflow.include.imports=android.util.Log,android.view.View,androidx.constraintlayout.widget.ConstraintLayout,androidx.constraintlayout.widget.ConstraintSet,androidx.constraintlayout.widget.R,androidx.constraintlayout.widget.VirtualLayout,java.util.Arrays
circularflow.exclude.imports=

barrier.include.methods=getType,setType,getMargin,getAllowsGoneWidget,setMargin,setAllowsGoneWidget,updateType,resolveRtl,allowsGoneWidget,loadParameters
barrier.exclude.methods=
barrier.include.fields=type:int,type:boolean,mLayoutWidget,mVariableDimensionsWidgets,mDesignIds,mConstraintSet,mConstraintHelpers,mBarrier
barrier.exclude.fields=
barrier.include.classes=Barrier
barrier.exclude.classes=
barrier.include.variable=
barrier.exlude.variable=
barrier.include.imports=android.os.Build,android.view.View,android.content.res.Configuration,androidx.constraintlayout.core.widgets.ConstraintWidget,androidx.constraintlayout.core.widgets.ConstraintWidgetContainer,androidx.constraintlayout.core.widgets.HelperWidget,android.util.SparseArray
barrier.exclude.imports=



virtuallayout.include.methods=onMeasure,setVisibility,setElevation,applyLayoutFeaturesInConstraintSet
virtuallayout.exclude.methods=
virtuallayout.include.fields=type:int,type:boolean,mLayoutWidget,mVariableDimensionsWidgets,mDesignIds,mConstraintSet,mConstraintHelpers,mvirtuallayout
virtuallayout.exclude.fields=
virtuallayout.include.classes=VirtualLayout
virtuallayout.exclude.classes=
virtuallayout.include.variable=
virtuallayout.exlude.variable=
virtuallayout.include.imports=android.os.Build,android.view.View,android.content.res.Configuration
virtuallayout.exclude.imports=

constraintattribute.include.methods=extractAttributes,ConstraintAttribute-ConstraintAttribute-Object,setValue,clamp,setAttributes
constraintattribute.exclude.methods=
constraintattribute.include.fields=type:int,type:boolean,mType,mName,type:float,mStringValue,TAG
constraintattribute.exclude.fields=
constraintattribute.include.classes=ConstraintAttribute
constraintattribute.exclude.classes=
constraintattribute.include.variable=
constraintattribute.exlude.variable=
constraintattribute.include.imports=android.os.Build,android.view.View,android.content.res.Configuration,java.util.HashMap,java.lang.reflect.InvocationTargetException,java.lang.reflect.Method,android.graphics.Color,android.graphics.drawable.ColorDrawable,android.graphics.drawable.Drawable,android.util.Log
constraintattribute.exclude.imports=

constrainthelper.include.methods=getReferencedIds,setReferencedIds,setTag,onMeasure,validateParams,addID,setIds,updatePreLayout,updatePostLayout,updatePostMeasure,addRscID,findId,applyLayoutFeaturesInConstraintSet,resolveRtl,applyLayoutFeatures,loadParameters,convertReferenceString,containsId,indexFromId,addView,removeView
constrainthelper.exclude.methods=
constrainthelper.include.fields=type:int,type:boolean,mHelperWidget,mIds,mReferenceIds,myContext,mMap
constrainthelper.exclude.fields=
constrainthelper.include.classes=ConstraintHelper
constrainthelper.exclude.classes=
constrainthelper.include.variable=
constrainthelper.exlude.variable=
constrainthelper.include.imports=android.view.View,android.view.ViewGroup,java.lang.reflect.Field,java.util.Arrays,android.content.Context,android.util.Log,androidx.constraintlayout.core.widgets.ConstraintWidget,androidx.constraintlayout.core.widgets.ConstraintWidgetContainer,androidx.constraintlayout.core.widgets.Helper,androidx.constraintlayout.core.widgets.HelperWidget,java.util.HashMap,android.content.res.Resources,android.util.SparseArray,android.view.ViewParent
constrainthelper.exclude.imports=


constraintset.include.methods=clone-ConstraintSet,clone-ConstraintLayout,clone-Constraints,applyTo,center,centerHorizontally,centerHorizontallyRtl,centerVertically,createVerticalChain,createHorizontalChain,\
createHorizontalChainRtl,createHorizontalChain,connect,centerHorizontally,clear,setMargin,setGoneMargin,setHorizontalBias,\
setVerticalBias,setDimensionRatio,setVisibility,setAlpha,getApplyElevation,setApplyElevation,setElevation,setRotation,setRotationX,setRotationY,\
setScaleX,setScaleY,setTransformPivotX,setTransformPivotY,setTransformPivot,setTranslationX,setTranslationY,setTranslationZ,setTranslation,\
constrainHeight,constrainWidth,constrainCircle,constrainMaxHeight,constrainMaxWidth,constrainMinHeight,constrainMinWidth,constrainPercentWidth,\
constrainPercentHeight,constrainDefaultHeight,constrainDefaultWidth,setHorizontalWeight,setVerticalWeight,setHorizontalChainStyle,setVerticalChainStyle,\
addToHorizontalChain,addToHorizontalChainRTL,addToVerticalChain,removeFromVerticalChain,removeFromHorizontalChain,create,createBarrier,setGuidelineBegin,\
setGuidelineEnd,setGuidelinePercent,setBarrierType,get,sideToString,applyToInternal,convertReferenceString
constraintset.exclude.methods=
constraintset.include.fields=type:int,type:boolean,mConstraints,type:float,dimensionRatio,mReferenceIds,layout,type:String,propertySet,transform,mDelta,motion,mCustomConstraints,mSavedAttributes
constraintset.exclude.fields=
constraintset.include.classes=ConstraintSet,Constraint,Layout,PropertySet,Transform,Delta,Motion
constraintset.exclude.classes=
constraintset.include.variable=
constraintset.exlude.variable=
constraintset.include.imports=android.os.Build,android.view.View,android.support.constraint.ConstraintLayout.LayoutParams,androidx.constraintlayout.core.widgets.ConstraintWidget,java.lang.reflect.Field,java.util.HashMap,java.util.HashSet,java.util.Arrays,android.os.Build.VERSION_CODES,androidx.constraintlayout.core.widgets.ConstraintWidget,androidx.constraintlayout.core.widgets.HelperWidget,androidx.constraintlayout.core.motion.utils.Easing,androidx.constraintlayout.motion.widget.Debug,androidx.constraintlayout.widget.ConstraintAttribute.AttributeType,androidx.constraintlayout.widget.ConstraintLayout.LayoutParams,android.util.Log,android.content.Context
constraintset.exclude.imports=

constraint.include.methods=clone,fillFromConstraints,fillFrom,applyTo
constraint.exclude.methods=

layout.include.methods=copyFrom
layout.exclude.methods=
transform.include.methods=copyFrom
transform.exclude.methods=
propertyset.include.methods=copyFrom
propertyset.exclude.methods=
transform.include.methods=copyFrom
transform.exclude.methods=
delta.include.methods=copyFrom
delta.exclude.methods=
motion.include.methods=copyFrom
motion.exclude.methods=

constraints.include.methods=getConstraintSet,onLayout
constraints.exclude.methods=
constraints.include.fields=type:int,type:boolean,myConstraintSet,type:float
constraints.exclude.fields=
constraints.include.classes=Constraints,LayoutParams
constraints.exclude.classes=
constraints.include.variable=
constraints.exlude.variable=
constraints.include.imports=android.view.ViewGroup,android.view.View
constraints.exclude.imports=

group.include.methods=getConstraintSet,onLayout,updatePreLayout,updatePostLayout,setVisibility,setElevation,applyLayoutFeaturesInConstraintSet
group.exclude.methods=
group.include.fields=type:int,type:boolean,mConstraints
group.exclude.fields=
group.include.classes=Group
group.exclude.classes=
group.include.variable=
group.exlude.variable=
group.include.imports=android.view.View
group.exclude.imports=


guideline.include.methods=setVisibility,onMeasure,setGuidelineBegin,setGuidelineEnd,setGuidelinePercent,
guideline.exclude.methods=
guideline.include.fields=type:int,type:boolean,mConstraints
guideline.exclude.fields=
guideline.include.classes=Guideline
guideline.exclude.classes=
guideline.include.variable=
guideline.exlude.variable=
guideline.include.imports=android.view.ViewGroup,android.view.View
guideline.exclude.imports=

placeholder.include.methods=setEmptyVisibility,getEmptyVisibility,getContent,updatePreLayout,setContentId,updatePostMeasure
placeholder.exclude.methods=
placeholder.include.fields=type:int,type:boolean,mContent
placeholder.exclude.fields=
placeholder.include.classes=Placeholder
placeholder.exclude.classes=
placeholder.include.variable=
placeholder.exlude.variable=
placeholder.include.imports=android.view.View,android.view.ViewGroup,androidx.constraintlayout.core.widgets.ConstraintWidget
placeholder.exclude.imports=

dependent.files.0=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/widget/Barrier.java
dependent.files.1=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/widget/ConstraintHelper.java
dependent.files.2=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/widget/ConstraintSet.java
dependent.files.3=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/widget/Constraints.java
dependent.files.4=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/widget/Group.java
dependent.files.5=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/widget/Guideline.java
dependent.files.6=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/widget/Placeholder.java
dependent.files.7=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/widget/ConstraintAttribute.java
dependent.files.8=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/widget/VirtualLayout.java 
dependent.files.9=https://raw.githubusercontent.com/androidx/constraintlayout/main/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/helper/widget/Flow.java
dependent.files.10=https://raw.githubusercontent.com/androidx/constraintlayout/main/constraintlayout/constraintlayout/src/main/java/androidx/constraintlayout/helper/widget/CircularFlow.java

copyfilesfromurl.0=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/ConstraintWidget.java
copyfilesfromurl.1=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/Barrier.java
copyfilesfromurl.2=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/Chain.java
copyfilesfromurl.3=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/ConstraintAnchor.java
copyfilesfromurl.4=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/ChainHead.java
copyfilesfromurl.5=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/Flow.java
copyfilesfromurl.6=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/ConstraintWidgetContainer.java
copyfilesfromurl.7=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/Guideline.java
copyfilesfromurl.8=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/Helper.java
copyfilesfromurl.9=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/Optimizer.java
copyfilesfromurl.10=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/Rectangle.java
copyfilesfromurl.11=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/HelperWidget.java
copyfilesfromurl.12=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/VirtualLayout.java
copyfilesfromurl.13=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/HelperWidget.java
copyfilesfromurl.14=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/WidgetContainer.java
copyfilesfromurl.15=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/BaselineDimensionDependency.java
copyfilesfromurl.16=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/BasicMeasure.java
copyfilesfromurl.17=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/ChainRun.java
copyfilesfromurl.18=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/Dependency.java
copyfilesfromurl.19=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/DependencyGraph.java
copyfilesfromurl.20=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/DependencyNode.java
copyfilesfromurl.21=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/DimensionDependency.java
copyfilesfromurl.22=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/Direct.java
copyfilesfromurl.23=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/Grouping.java
copyfilesfromurl.24=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/GuidelineReference.java
copyfilesfromurl.25=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/HelperReferences.java
copyfilesfromurl.26=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/HorizontalWidgetRun.java
copyfilesfromurl.27=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/RunGroup.java
copyfilesfromurl.28=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/VerticalWidgetRun.java
copyfilesfromurl.29=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/WidgetGroup.java
copyfilesfromurl.30=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/widgets/analyzer/WidgetRun.java
copyfilesfromurl.31=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/ArrayLinkedVariables.java
copyfilesfromurl.32=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/ArrayRow.java
copyfilesfromurl.33=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/Cache.java
copyfilesfromurl.34=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/GoalRow.java
copyfilesfromurl.35=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/LinearSystem.java
copyfilesfromurl.36=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/Pools.java
copyfilesfromurl.37=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/Metrics.java
copyfilesfromurl.38=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/SolverVariable.java

copyfilesfromurl.39=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/ConstraintReference.java
copyfilesfromurl.40=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/Dimension.java
copyfilesfromurl.41=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/HelperReference.java
copyfilesfromurl.42=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/Reference.java
copyfilesfromurl.43=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/Registry.java
copyfilesfromurl.44=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/RegistryCallback.java
copyfilesfromurl.45=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/State.java
copyfilesfromurl.46=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/Transition.java
copyfilesfromurl.47=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/WidgetFrame.java
copyfilesfromurl.48=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/State.java

copyfilesfromurl.49=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/helpers/AlignHorizontallyReference.java
copyfilesfromurl.50=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/helpers/AlignVerticallyReference.java
copyfilesfromurl.51=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/helpers/BarrierReference.java
copyfilesfromurl.52=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/helpers/ChainReference.java
copyfilesfromurl.53=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/helpers/Facade.java
copyfilesfromurl.54=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/helpers/GuidelineReference.java#helpers
copyfilesfromurl.55=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/helpers/HorizontalChainReference.java
copyfilesfromurl.56=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/state/helpers/VerticalChainReference.java

copyfilesfromurl.57=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/CustomAttribute.java
copyfilesfromurl.58=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/CustomVariable.java
copyfilesfromurl.59=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/Motion.java
copyfilesfromurl.60=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/MotionConstrainedPoint.java
copyfilesfromurl.61=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/MotionPaths.java
copyfilesfromurl.62=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/MotionWidget.java

copyfilesfromurl.62=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/ArcCurveFit.java
copyfilesfromurl.63=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/CurveFit.java
copyfilesfromurl.64=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/DifferentialInterpolator.java
copyfilesfromurl.65=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/Easing.java
copyfilesfromurl.66=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/FloatRect.java
copyfilesfromurl.67=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/HyperSpline.java
copyfilesfromurl.68=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/KeyCache.java
copyfilesfromurl.69=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/KeyCycleOscillator.java
copyfilesfromurl.70=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/KeyFrameArray.java
copyfilesfromurl.71=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/LinearCurveFit.java
copyfilesfromurl.72=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/MonotonicCurveFit.java
copyfilesfromurl.73=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/Oscillator.java
copyfilesfromurl.74=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/Rect.java
copyfilesfromurl.75=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/Schlick.java
copyfilesfromurl.76=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/SplineSet.java
copyfilesfromurl.77=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/SpringStopEngine.java
copyfilesfromurl.78=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/StepCurve.java
copyfilesfromurl.79=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/StopEngine.java
copyfilesfromurl.80=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/StopLogicEngine.java
copyfilesfromurl.81=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/TimeCycleSplineSet.java
copyfilesfromurl.82=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/TypedBundle.java
copyfilesfromurl.83=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/TypedValues.java
copyfilesfromurl.84=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/Utils.java
copyfilesfromurl.85=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/ViewState.java

copyfilesfromurl.86=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/key/MotionConstraintSet.java
copyfilesfromurl.87=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/key/MotionKey.java
copyfilesfromurl.88=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/key/MotionKeyCycle.java
copyfilesfromurl.89=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/key/MotionKeyPosition.java
copyfilesfromurl.90=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/key/MotionKeyTimeCycle.java
copyfilesfromurl.91=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/key/MotionKeyTrigger.java
copyfilesfromurl.92=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/key/MotionConstraintSet.java
copyfilesfromurl.93=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/parse/KeyParser.java

copyfilesfromurl.94=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLArray.java
copyfilesfromurl.95=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLContainer.java
copyfilesfromurl.96=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLElement.java
copyfilesfromurl.97=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLKey.java
copyfilesfromurl.98=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLNumber.java
copyfilesfromurl.99=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLObject.java
copyfilesfromurl.100=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLParser.java
copyfilesfromurl.101=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLParsingException.java
copyfilesfromurl.102=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLString.java
copyfilesfromurl.103=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/parser/CLToken.java
copyfilesfromurl.104=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/PriorityGoalRow.java
copyfilesfromurl.105=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/SolverVariableValues.java
copyfilesfromurl.106=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/key/MotionKeyAttributes.java
copyfilesfromurl.107=https://raw.githubusercontent.com/androidx/constraintlayout/2.1.0/constraintlayout/core/src/main/java/androidx/constraintlayout/core/motion/utils/VelocityMatrix.java


copyfilesfromurlDestLocation=../../core-javafx-widget/SWTAndroidXConstraintLayout/src/main/java/

copyfilesfromurl.file.rename.virtuallayout.java=CoreVirtualLayout.java
copyfilesfromurl.file.rename.barrier.java=CoreBarrier.java
copyfilesfromurl.file.rename.rect.java=CLRect.java
copyfilesfromurl.file.rename.customattribute.java=CLCustomAttribute.java
copyfilesfromurl.file.rename.guideline.java=CoreGuideline.java
copyfilesfromurl.file.rename.pools.java=CLPools.java
copyfilesfromurl.file.rename.androidx.constraintlayout.core.state.helpers.guidelinereference.java=GuidelineReferenceHelper.java
copyfilesfromurl.file.rename.androidx.constraintlayout.core.widgets.flow.java=CoreFlow.java

replacestrings.constraintwidget.java.0=instanceof VirtualLayout~instanceof CoreVirtualLayout
replacestrings.constraintwidget.java.1=instanceof Barrier~instanceof CoreBarrier
replacestrings.constraintwidget.java.2=instanceof Guideline~instanceof CoreGuideline
replacestrings.constraintwidget.java.3=ConstraintWidget mParent = null;~@com.google.j2objc.annotations.Weak ConstraintWidget mParent = null;

replacestrings.constraintwidgetcontainer.java.0=instanceof VirtualLayout~instanceof CoreVirtualLayout
replacestrings.constraintwidgetcontainer.java.1=VirtualLayout layout~CoreVirtualLayout layout
replacestrings.constraintwidgetcontainer.java.2=\\(VirtualLayout\\)~(CoreVirtualLayout)
replacestrings.constraintwidgetcontainer.java.3=instanceof Barrier~instanceof CoreBarrier
replacestrings.constraintwidgetcontainer.java.4=\\(Barrier\\)~(CoreBarrier)
replacestrings.constraintwidgetcontainer.java.5=instanceof Guideline~instanceof CoreGuideline
replacestrings.constraintwidgetcontainer.java.6=\\(Guideline\\)~(CoreGuideline)
replacestrings.constraintwidgetcontainer.java.7=<Guideline>~<CoreGuideline>
replacestrings.constraintwidgetcontainer.java.8=Guideline guideline~CoreGuideline guideline
replacestrings.constraintwidgetcontainer.java.9=Guideline\\.~CoreGuideline.
replacestrings.constraintwidgetcontainer.java.9=Guideline\\.~CoreGuideline.
replacestrings.constraintwidgetcontainer.java.10=this\\.pass = pass;~this.pass = pass;}public void release() {reset();mDependencyGraph = null;mBasicMeasureSolver = null;mSystem = null;mMeasurer = null;mVerticalChainsArray = null;mHorizontalChainsArray = null;frame = null;mCenter = null;mLeft = null;mRight = null;mTop = null;mBottom = null;mBaseline = null;mCenterX = null;mCenterY = null;mListAnchors = null;mAnchors = null;

replacestrings.corevirtuallayout.java.0=class VirtualLayout~class CoreVirtualLayout
replacestrings.corevirtuallayout.java.1=instanceof Guideline~instanceof CoreGuideline

replacestrings.basicmeasure.java.0=instanceof VirtualLayout~instanceof CoreVirtualLayout
replacestrings.basicmeasure.java.1=VirtualLayout virtualLayout~CoreVirtualLayout virtualLayout
replacestrings.basicmeasure.java.2=\\(VirtualLayout\\)~(CoreVirtualLayout)
replacestrings.basicmeasure.java.3=instanceof Barrier~instanceof CoreBarrier
replacestrings.basicmeasure.java.4=instanceof Guideline~instanceof CoreGuideline
replacestrings.basicmeasure.java.5=private ConstraintWidgetContainer constraintWidgetContainer~@com.google.j2objc.annotations.Weak private ConstraintWidgetContainer constraintWidgetContainer


replacestrings.coreflow.java.0=extends VirtualLayout~extends CoreVirtualLayout
replacestrings.coreflow.java.1=class Flow~class CoreFlow
replacestrings.coreflow.java.2=Flow srcFLow~CoreFlow srcFLow
replacestrings.coreflow.java.3=\\(Flow\\)~(CoreFlow)
replacestrings.coreflow.java.4=private class WidgetsList~@com.google.j2objc.annotations.WeakOuter private class WidgetsList


replacestrings.corebarrier.java.0=class Barrier~class CoreBarrier
replacestrings.corebarrier.java.1=public Barrier\\(\\)~public CoreBarrier()
replacestrings.corebarrier.java.2=Barrier\\(String debugName\\)~CoreBarrier(String debugName)
replacestrings.corebarrier.java.3=instanceof Barrier~instanceof CoreBarrier
replacestrings.corebarrier.java.4=\\(Barrier\\)~(CoreBarrier)
replacestrings.corebarrier.java.5=Barrier srcBarrier~CoreBarrier srcBarrier
replacestrings.corebarrier.java.6=instanceof Guideline~instanceof CoreGuideline

replacestrings.barrierreference.java.0=Barrier mBarrierWidget~CoreBarrier mBarrierWidget
replacestrings.barrierreference.java.1=Barrier\\(\\)~CoreBarrier()
replacestrings.barrierreference.java.2=Barrier\\.~CoreBarrier.

replacestrings.dependencygraph.java.0=instanceof Barrier~instanceof CoreBarrier
replacestrings.dependencygraph.java.1=instanceof Guideline\\)~instanceof CoreGuideline)

replacestrings.direct.java.0=instanceof Barrier~instanceof CoreBarrier
replacestrings.direct.java.1=\\(Barrier\\)~(CoreBarrier)
replacestrings.direct.java.2=Barrier barrier~CoreBarrier barrier
replacestrings.direct.java.3=instanceof Guideline~instanceof CoreGuideline
replacestrings.direct.java.4=\\(Guideline\\)~(CoreGuideline)
replacestrings.direct.java.5=Guideline guideline~CoreGuideline guideline
replacestrings.direct.java.6=Guideline\\.~CoreGuideline.


replacestrings.grouping.java.0=instanceof Barrier~instanceof CoreBarrier
replacestrings.grouping.java.1=\\(Barrier\\)~(CoreBarrier)
replacestrings.grouping.java.2=Barrier barrier~CoreBarrier barrier
replacestrings.grouping.java.3=instanceof Guideline~instanceof CoreGuideline
replacestrings.grouping.java.4=\\(Guideline\\)~(CoreGuideline)
replacestrings.grouping.java.5=Guideline guideline~CoreGuideline guideline
replacestrings.grouping.java.6=Guideline\\.~CoreGuideline.
replacestrings.grouping.java.7=<Guideline>~<CoreGuideline>
replacestrings.grouping.java.8=child instanceof Flow~child instanceof CoreFlow

replacestrings.helperreferences.java.0=instanceof Barrier~instanceof CoreBarrier
replacestrings.helperreferences.java.1=\\(Barrier\\)~(CoreBarrier)
replacestrings.helperreferences.java.2=Barrier barrier~CoreBarrier barrier
replacestrings.helperreferences.java.3=Barrier\\.~CoreBarrier.

replacestrings.clrect.java.0=Rect~CLRect
replacestrings.motion.java.0=Rect mTempRect~CLRect mTempRect
replacestrings.motion.java.1=new Rect\\(\\)~new CLRect()
replacestrings.motion.java.2=Rect r~CLRect r
replacestrings.motion.java.3=Rect out~CLRect out

replacestrings.motionconstrainedpoint.java.0=Rect r~CLRect r

replacestrings.clcustomattribute.java.0=\\(CustomAttribute CustomAttribute\\)~(CLCustomAttribute CustomAttribute)
replacestrings.clcustomattribute.java.1=class CustomAttribute~class CLCustomAttribute
replacestrings.clcustomattribute.java.2=public CustomAttribute~public CLCustomAttribute
replacestrings.clcustomattribute.java.3=\\(CustomAttribute source,~(CLCustomAttribute source,
replacestrings.clcustomattribute.java.4=String, CustomAttribute~String, CLCustomAttribute
replacestrings.clcustomattribute.java.5=new CustomAttribute\\(~new CLCustomAttribute(
replacestrings.clcustomattribute.java.6=CustomAttribute CustomAttribute =~CLCustomAttribute CustomAttribute =

replacestrings.keyframearray.java.0=CustomAttribute\\[~CLCustomAttribute[
replacestrings.keyframearray.java.1=CustomAttribute value~CLCustomAttribute value

replacestrings.splineset.java.0=CustomAttribute value~CLCustomAttribute value
replacestrings.splineset.java.1=CustomAttribute ca~CLCustomAttribute ca

replacestrings.timecyclesplineset.java.0=CustomAttribute value~CLCustomAttribute value
replacestrings.timecyclesplineset.java.1=CustomAttribute ca~CLCustomAttribute ca

replacestrings.coreguideline.java.0=class Guideline~class CoreGuideline
replacestrings.coreguideline.java.1=Guideline srcGuideline~CoreGuideline srcGuideline
replacestrings.coreguideline.java.2=Guideline\\(\\)~CoreGuideline()
replacestrings.coreguideline.java.3=\\(Guideline\\)~(CoreGuideline)
 
replacestrings.androidx.constraintlayout.core.widgets.analyzer.guidelinereference.java.0=Guideline mGuidelineWidget;~CoreGuideline mGuidelineWidget;
replacestrings.androidx.constraintlayout.core.widgets.analyzer.guidelinereference.java.1=instanceof Guideline~instanceof CoreGuideline
replacestrings.androidx.constraintlayout.core.widgets.analyzer.guidelinereference.java.2=Guideline\\(\\)~CoreGuideline()
replacestrings.androidx.constraintlayout.core.widgets.analyzer.guidelinereference.java.3=\\(Guideline\\)~(CoreGuideline)
replacestrings.androidx.constraintlayout.core.widgets.analyzer.guidelinereference.java.4=Guideline guideline~CoreGuideline guideline

replacestrings.constraintanchor.java.0=instanceof Guideline~instanceof CoreGuideline
replacestrings.constraintanchor.java.1=public final ConstraintWidget mOwner;~public @com.google.j2objc.annotations.Weak final ConstraintWidget mOwner;
replacestrings.constraintanchor.java.2=public ConstraintAnchor mTarget;~public @com.google.j2objc.annotations.Weak ConstraintAnchor mTarget;


replacestrings.constraintlayout.java.0=instanceof Guideline~instanceof CoreGuideline
replacestrings.constraintlayout.java.1=Guideline\\(\\)~CoreGuideline()
replacestrings.constraintlayout.java.2=\\(Guideline\\)~(CoreGuideline)
replacestrings.constraintlayout.java.3=Guideline guideline~CoreGuideline guideline
replacestrings.constraintlayout.java.4=Guideline\\.~CoreGuideline.
replacestrings.constraintlayout.java.5=ConstraintLayout layout;~@com.google.j2objc.annotations.Weak ConstraintLayout layout;
replacestrings.constraintlayout.java.6=class Measurer implements BasicMeasure~@com.google.j2objc.annotations.WeakOuter class Measurer implements BasicMeasure

replacestrings.clpools.java.0=class Pools~class CLPools
replacestrings.clpools.java.1=private Pools~private CLPools

replacestrings.cache.java.0=Pools\\.~CLPools.

replacestrings.guidelinereferencehelper.java.0=Guideline mGuidelineWidget;~CoreGuideline mGuidelineWidget;
replacestrings.guidelinereferencehelper.java.1=instanceof Guideline~instanceof CoreGuideline
replacestrings.guidelinereferencehelper.java.2=Guideline\\(\\)~CoreGuideline()
replacestrings.guidelinereferencehelper.java.3=\\(Guideline\\)~(CoreGuideline)
replacestrings.guidelinereferencehelper.java.4=Guideline guideline~CoreGuideline guideline
replacestrings.guidelinereferencehelper.java.5=class GuidelineReference~class GuidelineReferenceHelper
replacestrings.guidelinereferencehelper.java.6=public GuidelineReference~public GuidelineReferenceHelper

replacestrings.state.java.0=public GuidelineReference~public GuidelineReferenceHelper
replacestrings.state.java.1=instanceof GuidelineReference~instanceof GuidelineReferenceHelper
replacestrings.state.java.2=GuidelineReference guidelineReference~GuidelineReferenceHelper guidelineReference
replacestrings.state.java.3=\\(GuidelineReference\\)~(GuidelineReferenceHelper)
replacestrings.state.java.4=GuidelineReference\\(this\\)~GuidelineReferenceHelper(this)

replacestrings.arraylinkedvariables.java.0=private final ArrayRow mRow;~@com.google.j2objc.annotations.Weak private final ArrayRow mRow;
replacestrings.arraylinkedvariables.java.1=protected final Cache mCache;~@com.google.j2objc.annotations.Weak protected final Cache mCache;

replacestrings.solvervariablevalues.java.0=private final ArrayRow mRow;~@com.google.j2objc.annotations.Weak private final ArrayRow mRow;
replacestrings.solvervariablevalues.java.1=protected final Cache mCache;~@com.google.j2objc.annotations.Weak protected final Cache mCache;

replacestrings.prioritygoalrow.java.0=Cache mCache;~@com.google.j2objc.annotations.Weak Cache mCache;
replacestrings.prioritygoalrow.java.1=class GoalVariableAccessor~@com.google.j2objc.annotations.WeakOuter class GoalVariableAccessor
replacestrings.prioritygoalrow.java.2=SolverVariable variable;~@com.google.j2objc.annotations.Weak SolverVariable variable;
replacestrings.prioritygoalrow.java.3=PriorityGoalRow row;~@com.google.j2objc.annotations.Weak PriorityGoalRow row;

replacestrings.circularflow.java.0=ConstraintLayout mContainer;~@com.google.j2objc.annotations.Weak ConstraintLayout mContainer;

replacestrings.arrayrow.java.0=SolverVariable variable = null;~@com.google.j2objc.annotations.Weak SolverVariable variable = null;

replacestrings.widgetframe.java.0=public ConstraintWidget widget = null;~@com.google.j2objc.annotations.Weak public ConstraintWidget widget = null;

replacestrings.solvervariable.java.0=computedValue = 0;~computedValue = 0;Arrays.fill(mClientEquations, null);

replacestrings.0=androidx\\.constraintlayout\\.core\\.widgets\\.VirtualLayout~androidx.constraintlayout.core.widgets.CoreVirtualLayout
replacestrings.1=androidx\\.constraintlayout\\.core\\.widgets\\.Barrier~androidx.constraintlayout.core.widgets.CoreBarrier
replacestrings.2=androidx\\.constraintlayout\\.motion\\.widget\\.Debug~androidx.constraintlayout.motion.widget.CLDebug
replacestrings.3=\\+ Debug\\.getName~+ CLDebug.getName
replacestrings.4=androidx\\.constraintlayout\\.core\\.motion\\.utils\\.Rect~androidx.constraintlayout.core.motion.utils.CLRect
replacestrings.5=androidx\\.constraintlayout\\.core\\.motion\\.CustomAttribute~androidx.constraintlayout.core.motion.CLCustomAttribute
replacestrings.6=androidx\\.constraintlayout\\.widget\\.R~r.android.R
replacestrings.7=Class res=R\\.id\\.class~Class res=r.android.R.id.class
replacestrings.8=androidx\\.constraintlayout\\.core\\.widgets\\.Guideline~androidx.constraintlayout.core.widgets.CoreGuideline
replacestrings.9=androidx\\.constraintlayout\\.core\\.state\\.helpers\\.GuidelineReference~androidx.constraintlayout.core.state.helpers.GuidelineReferenceHelper
replacestrings.10=androidx\\.constraintlayout\\.core\\.widgets\\.Flow~androidx.constraintlayout.core.widgets.CoreFlow
replacestrings.11=Field field~//Field field
replacestrings.12=rscId=field~//rscId=field
replacestrings.13=tag=field~//tag=field