copyto=../../core-javafx-widget/javafx_widget_Library/gen/r/android/support/design/widget/CoordinatorLayout.java
coordinatorlayout.include.methods=onMeasure,prepareChildren,ensurePreDrawListener,getKeyline,resolveKeylineGravity,selectionSort,onMeasureChild,hasDependencies,\
isInEditMode,dispatchDependentViewsChanged,getDependencies,onLayout,onLayoutChild,layoutChildWithAnchor,layoutChildWithKeyline,layoutChild,resolveGravity,getDescendantRect,\
getDesiredAnchoredChildRect,resolveAnchoredChildGravity,dispatchOnDependentViewChanged,offsetChildToAnchor,getLastChildRect,getChildRect,recordLastChildRect
coordinatorlayout.exclude.methods=
coordinatorlayout.include.fields=type:int,type:boolean,mLastInsets,mDependencySortedChildren,mBehaviorTag,mKeylines,TAG,mLayoutDependencyComparator,mAnchorView,mBehavior,mAnchorDirectChild,mTempDependenciesList,mTempRect1,mTempRect2,mTempRect3,mLastChildRect
coordinatorlayout.exclude.fields=
coordinatorlayout.include.classes=CoordinatorLayout,LayoutParams,Behavior
coordinatorlayout.exclude.classes=
coordinatorlayout.include.variable=
coordinatorlayout.exlude.variable=
coordinatorlayout.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,android.widget.LinearLayout,java.util.List,java.util.Arrays,java.lang.reflect.Array,java.util.Map,java.util.HashMap\
,android.util.Pair,java.lang.Math.max,java.lang.Math.min,android.view.View.MeasureSpec.EXACTLY,android.view.View.MeasureSpec.makeMeasureSpec,android.support.v4.view.ViewCompat\
,android.support.v4.view.ViewGroupCompat,android.util.Log,java.util.Comparator,android.support.v4.view.GravityCompat,android.view.ViewParent
coordinatorlayout.exclude.imports=

layoutparams.include.methods=LayoutParams-default,LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,setRowSpecSpan,setColumnSpecSpan,LayoutParams-Spec-Spec,\
LayoutParams-int-int-int-int-int-int-Spec-Spec,dependsOn,findAnchorView,getBehavior,verifyAnchorView,resolveAnchorView,setBehavior,checkAnchorChanged,getChangedAfterNestedScroll,resetChangedAfterNestedScroll,setChangedAfterNestedScroll,\
setLastChildRect,getLastChildRect
layoutparams.exclude.methods=

behavior.include.methods=Behavior-default,Behavior-int-int,onDependentViewChanged,onMeasureChild,layoutDependsOn,checkAnchorChanged,onLayoutChild
behavior.exclude.methods=