copyto=../../core-javafx-widget/SWTAndroidXDrawerLayout/src/main/java/androidx/drawerlayout/widget/DrawerLayout.java
drawerlayout.include.methods=onMeasure,onLayout,isContentView,isDrawerView,getDrawerViewAbsoluteGravity,gravityToString,checkDrawerViewAbsoluteGravity,setDrawerViewOffset,dispatchOnDrawerSlide,setDrawerListener,addDrawerListener,removeDrawerListener,openDrawer,closeDrawer,findDrawerWithGravity,moveDrawerToOffset,updateDrawerState,dispatchOnDrawerClosed,dispatchOnDrawerOpened,getRootView,getDrawerViewOffset,isDrawerOpen,setDrawerLockMode,getDrawerLockMode,onViewPositionChanged
drawerlayout.exclude.methods=
drawerlayout.include.fields=type:int,type:boolean,mLastInsets,mDrawerElevation,TAG,type:float,mListeners,mListener,mLeftDragger,mRightDragger
drawerlayout.exclude.fields=
drawerlayout.include.classes=DrawerLayout,LayoutParams,DrawerListener
drawerlayout.exclude.classes=
drawerlayout.include.variable=
drawerlayout.exlude.variable=
drawerlayout.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,android.os.Build,androidx.core.view.GravityCompat,androidx.core.view.ViewCompat,java.util.List,java.util.ArrayList,android.view.accessibility.AccessibilityEvent
drawerlayout.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams
layoutparams.exclude.methods=

drawerlistener.include.methods=*
drawerlistener.exclude.methods=

replacestrings.drawerlayout.java.0=WindowInsetsCompat rootInsets=~WindowInsetsCompat rootInsets=(WindowInsetsCompat)
replacestrings.drawerlayout.java.1=Insets gestureInsets=~r.android.graphics.Insets gestureInsets=
replacestrings.drawerlayout.java.2=dispatchOnDrawerOpened\\(activeDrawer\\);~dispatchOnDrawerOpened(activeDrawer); setFlagStateOpened(activeDrawer);
