copyto=../../core-javafx-widget/SWTAndroid/src/main/java/com/google/flexbox/FlexboxLayout.java
flexboxlayout.include.methods=onMeasure,onLayout,generateLayoutParams-ViewGroup.LayoutParams,applyPositionsToViews\
,onLayout,onLayout,checkLayoutParams,getOrientation,setOrientation,getWeightDefault,setWeightDefault,getGravity,setGravity\
,getLayoutDirection,setLayoutDirection,forceLayout,requestLayout,setLayoutDirection,generateDefaultLayoutParams,isOrderChangedFromLastMeasurement\
,createReorderedIndices,measureHorizontal,measureVertical,createOrders,addFlexLineIfLastFlexItem,checkSizeConstraints,isWrapRequired,addFlexLine\
,hasDividerBeforeChildAtAlongMainAxis,determineMainSize,getReorderedChildAt,determineCrossSize,stretchViews,setMeasuredDimensionForFlex\
,isMainAxisDirectionHorizontal,getLargestMainSize,expandFlexItems,shrinkFlexItems,getSumOfCrossSize,stretchViewVertically,stretchViewHorizontally\
,hasDividerBeforeFlexLine,hasEndDividerAfterFlexLine,layoutHorizontal,layoutHorizontal,allViewsAreGoneBefore,allFlexLinesAreDummyBefore\
,layoutSingleChildHorizontal,layoutVertical,layoutSingleChildVertical,setFlexDirection,setFlexWrap,setJustifyContent,setAlignContent,setAlignItems\
,sortOrdersIntoReorderedIndices
flexboxlayout.exclude.methods=
flexboxlayout.include.fields=*
flexboxlayout.exclude.fields=POPULATING_ACCESSIBILITY_EVENT_TYPES
flexboxlayout.include.classes=FlexboxLayout,LayoutParams,Order
flexboxlayout.exclude.classes=
flexboxlayout.include.variable=
flexboxlayout.exlude.variable=
flexboxlayout.include.imports=java.util.ArrayList,java.util.Arrays,java.util.Collections,java.util.List,android.support.v4.view.ViewCompat,android.util.SparseIntArray,android.view.View,android.view.ViewGroup,android.widget.LinearLayout,android.widget.RelativeLayout,android.graphics.drawable.Drawable
flexboxlayout.exclude.imports=
flexboxlayout.include.interfaces=*

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,isNewLine,getGravity,getWeight,setNewLine,setWeight,setGravity
layoutparams.exclude.methods=

order.include.methods=*
order.exclude.methods=
order.include.interfaces=*

copy.files.0=../android_widget_library/src/com/google/flexbox/FlexLine.java:../../core-javafx-widget/javafx_widget_Library/gen/com/google/flexbox/FlexLine.java
copy.files.1=../android_widget_library/src/com/google/flexbox/FlexLine.java:../../core-javafx-widget/SWTAndroid/src/main/java/com/google/flexbox/FlexLine.java
