copyto=../../core-javafx-widget/SWTAndroid/src/main/java/org/apmem/tools/layouts/FlowLayout.java
flowlayout.include.methods=onMeasure,onLayout,generateLayoutParams-ViewGroup.LayoutParams,applyPositionsToViews\
,onLayout,onLayout,checkLayoutParams,getOrientation,setOrientation,getWeightDefault,setWeightDefault,getGravity,setGravity\
,getLayoutDirection,setLayoutDirection,forceLayout,requestLayout,setLayoutDirection,generateDefaultLayoutParams
flowlayout.exclude.methods=
flowlayout.include.fields=*
flowlayout.exclude.fields=POPULATING_ACCESSIBILITY_EVENT_TYPES
flowlayout.include.classes=FlowLayout,LayoutParams
flowlayout.exclude.classes=
flowlayout.include.variable=
flowlayout.exlude.variable=
flowlayout.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,org.apmem.tools.layouts.logic.CommonLogic,org.apmem.tools.layouts.logic.ConfigDefinition,\
org.apmem.tools.layouts.logic.LineDefinition,org.apmem.tools.layouts.logic.ViewDefinition,java.util.List,android.support.v4.view.ViewCompat
flowlayout.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,isNewLine,getGravity,getWeight,setNewLine,setWeight,setGravity
layoutparams.exclude.methods=

copy.files.0=../android_widget_library/src/org/apmem/tools/layouts/logic:../../core-javafx-widget/javafx_widget_Library/gen/org/apmem/tools/layouts/logic
copy.files.1=../android_widget_library/src/org/apmem/tools/layouts/logic:../../core-javafx-widget/SWTAndroid/src/main/java/org/apmem/tools/layouts/logic

