copyto=../../core-javafx-widget/SWTAndroidX-Gridlayout/src/main/java/androidx/gridlayout/widget/GridLayout.java
gridlayout.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,layoutVertical,layoutVertical,layoutHorizontal\
,getVirtualChildCount,measureNullChild,getShowDividers,getDividerDrawable,getVirtualChildAt,getChildrenSkipCount,hasDividerBeforeChildAt\
,measureChildBeforeLayout,getNextLocationOffset,forceUniformWidth,allViewsAreGoneBefore\
,forceUniformHeight,getLocationOffset,setChildFrame,generateLayoutParams-ViewGroup.LayoutParams,checkLayoutParams\
,setBaselineAligned,setBaselineAlignedChildIndex,setGravity,setMeasureWithLargestChildEnabled,setOrientation,setWeightSum,forceLayout,requestLayout,invalidateStructure,invalidateValues,handleInvalidParams,consistencyCheck\
,measureChildrenWithMargins,getMeasurement,getGroupBounds,getMargin,getLayoutParams,getMargin1,getDefaultMargin,isLayoutRtlCompat,validateLayoutParams,computeLayoutParamsHashCode,measureChildWithMargins2,adjust,makeMeasureSpec\
,getTotalMargin,getMeasurementIncludingMargin,append,spec,createSwitchingAlignment,canStretch,clip,fits,procrusteanFill,setCellGroup,getPairPair,max2\
,getGravityOffset,getAlignmentValue,getSizeInCell,getDebugString,setAlignmentMode,setColumnCount,setColumnOrderPreserved,setRowCount,setRowOrderPreserved\
,setOrientation,setRowCount,setRowOrderPreserved,setUseDefaultMargins,setLayoutDirection,generateDefaultLayoutParams,getAlignmentMode,getColumnCount,isColumnOrderPreserved,getOrientation,getRowCount,isRowOrderPreserved,getUseDefaultMargins
gridlayout.exclude.methods=
gridlayout.include.fields=type:int,type:boolean,type:Alignment,mDivider,weight,mWeightSum,mMaxAscent,mMaxDescent,mHorizontalAxis,mVerticalAxis,columnSpec,rowSpec,span,groupBounds,values,keys,forwardLinks,backwardLinks,parentMin,parentMax\
,arcs,value,leadingMargins,trailingMargins,deltas,locations,UNDEFINED,DEFAULT_WEIGHT,startDefined,startDefined,weight,span,keyType,valueType,alignment,DEFAULT_SPAN\
,index,result,cursor,arcsByVertex,visited
gridlayout.exclude.fields=ORIENTATION,ROW_COUNT,COLUMN_COUNT,USE_DEFAULT_MARGINS,ALIGNMENT_MODE,ROW_ORDER_PRESERVED,COLUMN_ORDER_PRESERVED,MARGIN,LEFT_MARGIN,TOP_MARGIN,RIGHT_MARGIN,BOTTOM_MARGIN,COLUMN,COLUMN_SPAN,COLUMN_WEIGHT\
,ROW,ROW_SPAN,ROW_WEIGHT,GRAVITY
gridlayout.include.classes=GridLayout,LayoutParams,Spec,Alignment,Interval,Bounds,Axis,Assoc,PackedMap,MutableInt,Arc,Pair
gridlayout.exclude.classes=
gridlayout.include.variable=
gridlayout.exlude.variable=
gridlayout.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,android.widget.LinearLayout,java.util.List,java.util.Arrays,java.lang.reflect.Array,java.util.Map,java.util.HashMap\
,android.util.Pair,java.lang.Math.max,java.lang.Math.min,android.view.View.MeasureSpec.EXACTLY,android.view.View.MeasureSpec.makeMeasureSpec,androidx.core.view.ViewCompat\
,androidx.core.view.ViewGroupCompat
gridlayout.exclude.imports=

layoutparams.include.methods=LayoutParams-default,LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,setRowSpecSpan,setColumnSpecSpan,LayoutParams-Spec-Spec,\
LayoutParams-int-int-int-int-int-int-Spec-Spec
layoutparams.exclude.methods=

spec.include.methods=*
spec.exclude.methods=
alignment.include.methods=*
alignment.exclude.methods=

interval.include.methods=*
interval.exclude.methods=

bounds.include.methods=*
bounds.exclude.methods=

axis.include.methods=*
axis.exclude.methods=

assoc.include.methods=*
assoc.exclude.methods=

packedmap.include.methods=*
packedmap.exclude.methods=

mutableint.include.methods=*
mutableint.exclude.methods=

arc.include.methods=*
arc.exclude.methods=

pair.include.methods=*
pair.exclude.methods=


replacestrings.0=final class Axis~@com.google.j2objc.annotations.WeakOuter  final class Axis
