copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/LinearLayout.java
linearlayout.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,layoutVertical,layoutVertical,layoutHorizontal\
,getVirtualChildCount,measureNullChild,getShowDividers,getDividerDrawable,getVirtualChildAt,getChildrenSkipCount,hasDividerBeforeChildAt\
,measureChildBeforeLayout,getNextLocationOffset,forceUniformWidth,allViewsAreGoneBefore\
,forceUniformHeight,getLocationOffset,setChildFrame,generateLayoutParams-ViewGroup.LayoutParams,checkLayoutParams\
,setBaselineAligned,setBaselineAlignedChildIndex,setGravity,setMeasureWithLargestChildEnabled,setOrientation,setWeightSum,forceLayout,requestLayout,setLayoutDirection,generateDefaultLayoutParams,\
isBaselineAligned,getBaselineAlignedChildIndex,getGravity,isMeasureWithLargestChildEnabled,getOrientation,getWeightSum,setDividerPadding,getDividerPadding,setShowDividers,isShowingDividers,setDividerDrawable,\
drawDividersVertical,drawDividersHorizontal,getLastNonGoneChild,drawHorizontalDivider,drawVerticalDivider,onDraw,getBaseline
linearlayout.exclude.methods=
linearlayout.include.fields=type:int,type:boolean,mDivider,weight,mWeightSum,mMaxAscent,mMaxDescent
linearlayout.exclude.fields=
linearlayout.include.classes=LinearLayout,LayoutParams
linearlayout.exclude.classes=
linearlayout.include.variable=
linearlayout.exlude.variable=
linearlayout.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,android.graphics.Canvas
linearlayout.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams
layoutparams.exclude.methods=