copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/ListView.java
listview.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,layoutVertical,layoutVertical,layoutHorizontal\
,getVirtualChildCount,measureNullChild,getShowDividers,getDividerDrawable,getVirtualChildAt,getChildrenSkipCount,hasDividerBeforeChildAt\
,measureChildBeforeLayout,getNextLocationOffset,forceUniformWidth,allViewsAreGoneBefore\
,forceUniformHeight,getLocationOffset,setChildFrame,generateLayoutParams-ViewGroup.LayoutParams,checkLayoutParams\
,setBaselineAligned,setBaselineAlignedChildIndex,setGravity,setMeasureWithLargestChildEnabled,setOrientation,setWeightSum,forceLayout,requestLayout,setLayoutDirection,generateDefaultLayoutParams,\
isBaselineAligned,getBaselineAlignedChildIndex,getGravity,isMeasureWithLargestChildEnabled,getOrientation,getWeightSum,measureScrapChild,recycleOnMeasure,measureHeightOfChildren,layoutChildren,\
resetList,clearRecycledState,isDirectChildHeaderOrFooter,fillFromSelection,fillFromMiddle,fillSpecific,fillUp,adjustViewsUpOrDown,fillFromTop,\
moveSelection,reconcileSelectedPosition,offsetChildrenTopAndBottom,makeAndAddView,setVisibleRangeHint,fillDown,setVisibleRangeHint,fillAboveAndBelow,correctTooHigh,correctTooLow,\
getTopSelectionPixel,getBottomSelectionPixel,setupChild,setAdapter,getAdapter,fillGap,getListPaddingTop,getListPaddingBottom
listview.exclude.methods=
listview.include.fields=type:int,type:boolean,mDivider,weight,mWeightSum,mMaxAscent,mMaxDescent,mItemCount,mHeaderViewInfos,mFooterViewInfos,view,data,mDataSetObserver
listview.exclude.fields=
listview.include.classes=ListView,LayoutParams,FixedViewInfo
listview.exclude.classes=
listview.include.variable=
listview.exlude.variable=
listview.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,com.google.android.collect.Lists,android.os.Trace,android.util.MathUtils,android.database.DataSetObserver
listview.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams
layoutparams.exclude.methods=

fixedviewinfo.include.methods=*
fixedviewinfo.exclude.methods=

