copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/support/percent/PercentLayoutHelper.java
percentlayouthelper.include.methods=*
percentlayouthelper.exclude.methods=fetchWidthAndHeight,getPercentLayoutInfo
percentlayouthelper.include.fields=*
percentlayouthelper.exclude.fields=POPULATING_ACCESSIBILITY_EVENT_TYPES
percentlayouthelper.include.classes=PercentLayoutHelper,PercentLayoutParams,PercentLayoutInfo
percentlayouthelper.exclude.classes=
percentlayouthelper.include.variable=
percentlayouthelper.exlude.variable=
percentlayouthelper.include.imports=android.content.Context,android.util.Log,android.view.View,android.view.ViewGroup,android.support.v4.view.MarginLayoutParamsCompat,android.support.v4.view.ViewCompat
percentlayouthelper.exclude.imports=

percentlayoutparams.include.methods=*
percentlayoutparams.exclude.methods=

percentlayoutinfo.include.methods=*
percentlayoutinfo.exclude.methods=