copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/support/percent/PercentRelativeLayout.java
percentrelativelayout.include.methods=onMeasure,getPaddingLeftWithForeground,onLayout,generateLayoutParams-ViewGroup.LayoutParams,getPaddingRightWithForeground,getPaddingTopWithForeground\
,getPaddingBottomWithForeground,layoutChildren,setMeasureAllChildren,getMeasureAllChildren,checkLayoutParams,setForegroundGravity\
,isForegroundInsidePadding,forceLayout,requestLayout,setLayoutDirection,generateDefaultLayoutParams
percentrelativelayout.exclude.methods=
percentrelativelayout.include.fields=type:int,type:boolean,mHelper,mPercentLayoutInfo
percentrelativelayout.exclude.fields=POPULATING_ACCESSIBILITY_EVENT_TYPES
percentrelativelayout.include.classes=PercentRelativeLayout,LayoutParams,PercentLayoutParams
percentrelativelayout.exclude.classes=
percentrelativelayout.include.variable=
percentrelativelayout.exlude.variable=
percentrelativelayout.include.imports=android.widget.RelativeLayout,android.view.ViewGroup,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity
percentrelativelayout.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,getPercentLayoutInfo
layoutparams.exclude.methods=
percentrelativelayout.include.interfaces=*