copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/support/percent/PercentFrameLayout.java
percentframelayout.include.methods=onMeasure,getPaddingLeftWithForeground,onLayout,generateLayoutParams-ViewGroup.LayoutParams,getPaddingRightWithForeground,getPaddingTopWithForeground\
,getPaddingBottomWithForeground,layoutChildren,setMeasureAllChildren,getMeasureAllChildren,checkLayoutParams,setForegroundGravity\
,isForegroundInsidePadding,forceLayout,requestLayout,setLayoutDirection,generateDefaultLayoutParams
percentframelayout.exclude.methods=
percentframelayout.include.fields=type:int,type:boolean,mHelper,mPercentLayoutInfo
percentframelayout.exclude.fields=POPULATING_ACCESSIBILITY_EVENT_TYPES
percentframelayout.include.classes=PercentFrameLayout,LayoutParams,PercentLayoutParams
percentframelayout.exclude.classes=
percentframelayout.include.variable=
percentframelayout.exlude.variable=
percentframelayout.include.imports=android.widget.FrameLayout,android.view.ViewGroup,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity
percentframelayout.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,getPercentLayoutInfo
layoutparams.exclude.methods=
percentframelayout.include.interfaces=*