copyto=../../core-javafx-widget/SWTAndroidXRecyclerView/src/main/java/androidx/recyclerview/widget/RecyclerView.java
recyclerview.include.methods=onMeasure,onLayout,defaultOnMeasure,dispatchLayoutStep1,dispatchLayoutStep2,dispatchLayoutStep3,startInterceptRequestLayout,onEnterLayoutOrScroll,processAdapterUpdatesAndSetAnimationFlags,onExitLayoutOrScroll,stopInterceptRequestLayout,exceptionLabel,\
dispatchLayout,getScrollState,findMinMaxChildLayoutPositions,getChildViewHolderInt,getChangedHolderKey,saveOldPositions,recordAnimationInfoIfBouncedHiddenView,clearOldPositions,handleMissingPreInfoForChangeError,animateChange,animateDisappearance,animateAppearance,\
getNanoTime,didChildRangeChange,dispatchOnScrolled,addAnimatingView,getChildViewHolder,getScrollX,onScrollChanged,removeDetachedView,findNestedRecyclerView,dispatchChildDetached,clearNestedRecyclerViewIfNotNested,hasPendingAdapterUpdates,post,removeAndRecycleViews,canReuseUpdatedViewHolder,getAdapter,assertInLayoutOrScroll,removeCallbacks,\
isComputingLayout,onChildDetachedFromWindow,assertNotInLayoutOrScroll,getViewLayoutPosition,findContainingItemView,offsetChildrenHorizontal,offsetChildrenVertical,getItemDecorInsetsForChild,isItemChanged,\
isViewInvalid,getAdapterPositionInRecyclerView,getDecoratedBoundsWithMarginsInt,setLayoutManager,initChildrenHelper,initAdapterManager,dispatchChildAttached,computeVerticalScrollRange,setAdapter,findViewHolderForPosition,offsetPositionRecordsForRemove,viewRangeUpdate,offsetPositionRecordsForInsert,offsetPositionRecordsForMove,\
setLayoutFrozen,setAdapterInternal,processDataSetCompletelyChanged,suppressLayout,onChildAttachedToWindow,markKnownViewsInvalid,markItemDecorInsetsDirty,scrollBy,scrollByInternal,scrollStep,consumePendingUpdateOperations,dispatchNestedScroll,getScrollingChildHelper,hasUpdatedView,repositionShadowingViews,getOverScrollMode,prepareForDrop,getLayoutManager,addItemDecoration,getRecycledViewPool,computeHorizontalScrollRange,computeVerticalScrollOffset,computeHorizontalScrollOffset,computeHorizontalScrollExtent,computeVerticalScrollExtent,scrollToPosition,setOnScrollListener

recyclerview.exclude.methods=

recyclerview.include.fields=type:int,type:boolean,mLayout,mRecyclerView,mChildHelper,mRecycler,mState,mAdapter,mAdapterHelper,TAG,mViewInfoStore,mMinMaxLayoutPositions,mViewInfoProcessCallback,itemView,mChangedScrap,mAttachedScrap,mCachedViews,mUnmodifiableAttachedScrap,mBindingAdapter,mOwnerRecyclerView,mItemAnimatorRunner,mShadowedHolder,mShadowingHolder,TRACE_ON_LAYOUT_TAG,\
mViewHolder,mScrollListener,mScrollListeners,FOREVER_NS,mRecyclerPool,mScrap,mScrapHeap,mCreateRunningAverageNs,mBindRunningAverageNs,mPrefetchRegistry,mViewCacheExtension,mNestedRecyclerView,mScrapContainer,TRACE_NESTED_PREFETCH_TAG,TRACE_PREFETCH_TAG,mRecyclerListener,mRecyclerListeners,TRACE_CREATE_VIEW_TAG,mItemId,TRACE_BIND_VIEW_TAG,mObservable,\
mTempRect,mOnChildAttachStateListeners,mDecorInsets,mItemDecorations,mPayloads,mUnmodifiedPayloads,FULLUPDATE_PAYLOADS,mData,mMoveDuration,mAddDuration,mRemoveDuration,mChangeDuration,mHorizontalBoundCheck,mVerticalBoundCheck,mHorizontalBoundCheckCallback,mVerticalBoundCheckCallback,mObserver,TRACE_SCROLL_TAG,mReusableIntPair,mScrollOffset,mNestedOffsets,\
TRACE_ON_DATA_SET_CHANGE_LAYOUT_TAG,TRACE_HANDLE_ADAPTER_UPDATES_TAG,mScrollingChildHelper,mTempRectF

recyclerview.exclude.fields=
recyclerview.include.classes=RecyclerView,LayoutParams,LayoutManager,State,Recycler,Adapter,ViewHolder,ItemAnimator,ItemHolderInfo,OnScrollListener,RecycledViewPool,ScrapData,LayoutPrefetchRegistry,ViewCacheExtension,RecyclerListener,AdapterDataObservable,AdapterDataObserver,OnChildAttachStateChangeListener,ItemDecoration,RecyclerViewDataObserver
recyclerview.exclude.classes=
recyclerview.include.variable=
recyclerview.exlude.variable=
recyclerview.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,android.os.Build,android.widget.LinearLayout,androidx.core.view.ViewCompat,android.util.Log,androidx.recyclerview.widget.RecyclerView.ItemAnimator.ItemHolderInfo,java.util.List,android.os.Parcelable,android.view.ViewParent,\
java.util.Collections,android.util.SparseArray,androidx.core.os.TraceCompat,java.lang.ref.WeakReference,android.graphics.RectF,android.os.SystemClock
recyclerview.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,isViewInvalid,isItemChanged,getViewLayoutPosition,isItemRemoved
layoutparams.exclude.methods=

recycler.include.methods=*
recycler.exclude.methods=attachAccessibilityDelegateOnBind

state.include.methods=*
state.exclude.methods=

layoutmanager.include.methods=*
layoutmanager.exclude.methods=getProperties,startSmoothScroll,isSmoothScrolling,generateLayoutParams,getFocusedChild,stopSmoothScroller,onSmoothScrollerStopped,onInitializeAccessibilityNodeInfo,onInitializeAccessibilityNodeInfo,\
onInitializeAccessibilityEvent,onInitializeAccessibilityEvent,onInitializeAccessibilityNodeInfoForItem,onInitializeAccessibilityNodeInfoForItem,getSelectionModeForAccessibility,performAccessibilityAction,performAccessibilityActionForItem,\
isFocusedChildVisibleAfterScrolling,requestChildRectangleOnScreen,getChildRectangleOnScreenScrollAmount,onRequestChildFocus,isViewPartiallyVisible

adapter.include.methods=*
adapter.exclude.methods=setStateRestorationPolicy,getStateRestorationPolicy,canRestoreState

viewholder.include.methods=*
viewholder.exclude.methods=

itemanimator.include.methods=*
itemanimator.exclude.methods=setListener,dispatchAnimationFinished,dispatchAnimationStarted,dispatchAnimationsFinished,isRunning

itemholderinfo.include.methods=*
itemholderinfo.exclude.methods=

onscrolllistener.include.methods=*
onscrolllistener.exclude.methods=

recycledviewpool.include.methods=*
recycledviewpool.exclude.methods=

scrapdata.include.methods=*
scrapdata.exclude.methods=

layoutprefetchregistry.include.methods=*
layoutprefetchregistry.exclude.methods=

viewcacheextension.include.methods=*
viewcacheextension.exclude.methods=

recyclerlistener.include.methods=*
recyclerlistener.exclude.methods=

adapterdataobservable.include.methods=*
adapterdataobservable.exclude.methods=

adapterdataobserver.include.methods=*
adapterdataobserver.exclude.methods=

onchildattachstatechangelistener.include.methods=*
onchildattachstatechangelistener.exclude.methods=

itemdecoration.include.methods=*
itemdecoration.exclude.methods=onDraw,onDrawOver

recyclerviewdataobserver.include.methods=*
recyclerviewdataobserver.exclude.methods=onDraw,onDrawOver



 
copyfilesfromurl.0=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/ChildHelper.java?format=TEXT
copyfilesfromurl.1=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/AdapterHelper.java?format=TEXT
copyfilesfromurl.2=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/OpReorderer.java?format=TEXT
copyfilesfromurl.3=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/ViewInfoStore.java?format=TEXT
copyfilesfromurl.4=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/collection/collection/src/main/java/androidx/collection/SimpleArrayMap.java?format=TEXT
copyfilesfromurl.5=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/collection/collection/src/main/java/androidx/collection/ContainerHelpers.java?format=TEXT
copyfilesfromurl.6=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/GapWorker.java?format=TEXT
copyfilesfromurl.7=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/LinearLayoutManager.java?format=TEXT
copyfilesfromurl.8=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/OrientationHelper.java?format=TEXT
copyfilesfromurl.9=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/ScrollbarHelper.java?format=TEXT
copyfilesfromurl.10=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/ViewBoundsCheck.java?format=TEXT
copyfilesfromurl.11=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/GridLayoutManager.java?format=TEXT
copyfilesfromurl.12=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/StaggeredGridLayoutManager.java?format=TEXT
copyfilesfromurl.13=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/LayoutState.java?format=TEXT
copyfilesfromurl.14=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/AsyncDiffUtil.java
copyfilesfromurl.15=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/DiffCallback.java
copyfilesfromurl.16=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/DiffTask.java
copyfilesfromurl.17=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/ExpandableGroup.java
copyfilesfromurl.18=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/ExpandableItem.java
copyfilesfromurl.19=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/Group.java
copyfilesfromurl.20=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/GroupAdapter.java
copyfilesfromurl.21=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/GroupDataObserver.java
copyfilesfromurl.22=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/GroupUtils.java
copyfilesfromurl.23=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/GroupieViewHolder.java
copyfilesfromurl.24=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/GroupieAdapter.java
copyfilesfromurl.25=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/Item.java
copyfilesfromurl.26=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/NestedGroup.java
copyfilesfromurl.27=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/OnAsyncUpdateListener.java
copyfilesfromurl.28=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/OnItemClickListener.java
copyfilesfromurl.29=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/OnItemLongClickListener.java
copyfilesfromurl.30=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/Section.java
copyfilesfromurl.31=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/SpanSizeProvider.java
copyfilesfromurl.32=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/TouchCallback.java
copyfilesfromurl.33=https://raw.githubusercontent.com/lisawray/groupie/master/library/src/main/java/com/xwray/groupie/UpdatingGroup.java
copyfilesfromurl.34=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/DiffUtil.java?format=TEXT
copyfilesfromurl.35=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/ListUpdateCallback.java?format=TEXT
copyfilesfromurl.36=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/BatchingListUpdateCallback.java?format=TEXT
copyfilesfromurl.37=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/recyclerview/recyclerview/src/main/java/androidx/recyclerview/widget/AdapterListUpdateCallback.java?format=TEXT
copyfilesfromurlDestLocation=../../core-javafx-widget/SWTAndroidXRecyclerView/src/main/java/

copyfilesfromurl.file.rename.containerhelpers.java=RVContainerHelpers.java
copyfilesfromurl.file.rename.group.java=RVGroup.java

LinearLayoutManager.java.deletemethods=public void onInitializeAccessibilityEvent(,public PointF computeScrollVectorForPosition,public void smoothScrollToPosition(
GridLayoutManager.java.deletemethods=public RecyclerView.LayoutParams generateLayoutParams(Context c,public RecyclerView.LayoutParams generateLayoutParams(ViewGroup,public void onInitializeAccessibilityNodeInfoForItem(,public void onInitializeAccessibilityEvent(,public PointF computeScrollVectorForPosition,public void smoothScrollToPosition(
StaggeredGridLayoutManager.java.deletemethods=public void onInitializeAccessibilityEvent(,public PointF computeScrollVectorForPosition,public void smoothScrollToPosition(,public RecyclerView.LayoutParams generateLayoutParams(Context c,public RecyclerView.LayoutParams generateLayoutParams(ViewGroup

replacestrings.0=androidx\\.core\\.util\\.Pools~r.android.util.Pools
replacestrings.1=androidx\\.collection\\.LongSparseArray~r.android.util.LongSparseArray
replacestrings.2=androidx\\.annotation\\.NonNull~r.android.annotation.NonNull
replacestrings.3=androidx\\.annotation\\.Nullable~r.android.annotation.Nullable
replacestrings.4=attachAccessibilityDelegateOnBind~//attachAccessibilityDelegateOnBind
replacestrings.5=child\\.clearAnimation\\(\\);~//child.clearAnimation();
replacestrings.6=super\\.removeDetachedView~//super.removeDetachedView
replacestrings.7=&& mAdapter\\.canRestoreState\\(\\)~&& false
replacestrings.8=ViewCompat\\.postOnAnimation~//ViewCompat.postOnAnimation
replacestrings.9=return mRecyclerView\\.removeCallbacks~//return mRecyclerView.removeCallbacks
replacestrings.10=mSmoothScroller != null && mSmoothScroller\\.isRunning\\(\\)~false
replacestrings.11=mSmoothScroller\\.onChild~//mSmoothScroller.onChild
replacestrings.12=mAccessibilityDelegate != null~false
replacestrings.13=AccessibilityDelegateCompat ~//AccessibilityDelegateCompat 
replacestrings.14=originalDelegate=~//originalDelegate=
replacestrings.15=itemDelegate instanceof RecyclerViewAccessibilityDelegate\\.ItemDelegate~false
replacestrings.16=ViewCompat.setAccessibilityDelegate~//ViewCompat.setAccessibilityDelegate
replacestrings.17=parent.setChildImportantForAccessibilityInternal~//parent.setChildImportantForAccessibilityInternal
replacestrings.18=\\@RecyclerView\\.Orientation~/*@RecyclerView.Orientation*/

replacestrings.19=final long now=~//final long now=
replacestrings.20=MotionEvent cancelEvent=~//MotionEvent cancelEvent=
replacestrings.21=onTouchEvent\\(cancelEvent\\);~//onTouchEvent(cancelEvent);
replacestrings.22=&& adapter.canRestoreState\\(\\)~&& false
replacestrings.23=final Matrix childMatrix=~//final Matrix childMatrix=
replacestrings.24=childMatrix != null && !childMatrix\\.isIdentity\\(\\)~false
replacestrings.25=childMatrix\\.mapRect~//childMatrix.mapRect
replacestrings.26=import static androidx\\.annotation\\.RestrictTo\\.Scope\\.LIBRARY;~//import static androidx.annotation.RestrictTo.Scope.LIBRARY;
replacestrings.27=import r\\.android\\.graphics\\.PointF;~//import r.android.graphics.PointF;
replacestrings.28=import androidx\\.annotation\\.RestrictTo;~//import androidx.annotation.RestrictTo;
replacestrings.29=(?s)LayoutManager implements(.*?)\\{~LayoutManager { 
replacestrings.30=(?s)public LinearLayoutManager\\(Context context, AttributeSet attrs(.*?)\\}~/**/
replacestrings.31=(?s)\\@Override(.*?)public void onInitializeAccessibilityEvent11(.*?)\\}~public void a() {
replacestrings.32=getFocusedChild\\(\\);~null;
replacestrings.33=nextFocus.hasFocusable\\(\\)~false
replacestrings.34=result\\.mFocusable = view\\.hasFocusable\\(\\);~//result.mFocusable = view.hasFocusable();
replacestrings.35=@RestrictTo\\(LIBRARY\\)~//@RestrictTo(LIBRARY)
replacestrings.36=in\\.readInt\\(\\)~0
replacestrings.37=dest\\.writeInt~//dest.writeInt
replacestrings.38=(?s)public static final Parcelable\\.Creator(.*?)\\};~/**/
replacestrings.39=(?s)ItemTouchHelper\\.(.*?)@Override(.*?)public void prepareForDrop~\npublic void prepareForDrop
replacestrings.40=throw new IllegalStateException\\("ViewHolder views must not be attached~//throw new IllegalStateException("ViewHolder views must not be attached
replacestrings.41=candidate\\.hasFocusable\\(\\)~false
replacestrings.42=isSmoothScrolling\\(\\)~false
replacestrings.43=view\\.hasFocusable\\(\\)~false
replacestrings.44=import androidx\\.core\\.view\\.accessibility\\.AccessibilityNodeInfoCompat;~//import androidx.core.view.accessibility.AccessibilityNodeInfoCompat;
replacestrings.45=(?s)public GridLayoutManager\\(Context context, AttributeSet attrs(.*?)\\}~/**/
replacestrings.46=(?s)public StaggeredGridLayoutManager\\(Context context, AttributeSet attrs(.*?)\\}~/**/
replacestrings.47=(?s)public LayoutParams\\(Context c, AttributeSet attrs(.*?)\\}~/**/
replacestrings.48=isViewPartiallyVisible\\(candidate, false, true\\)~false

replacestrings.49=itemView\\.setOnClickListener\\(~//itemView.setOnClickListener(
replacestrings.50=itemView\\.setOnLongClickListener\\(~//itemView.setOnLongClickListener(
replacestrings.51=private Item<VH> getItemForViewType\\(int viewType\\)~public Item<VH> getItemForViewType(int viewType)
replacestrings.52=getClass\\(\\)\\.isAnonymousClass\\(\\)~false

replacestrings.53=class ContainerHelpers~class RVContainerHelpers
replacestrings.54=private ContainerHelpers~private RVContainerHelpers
replacestrings.55=ContainerHelpers\\.~RVContainerHelpers.
replacestrings.56=interface Group ~interface RVGroup 
replacestrings.57=extends Group>~extends RVGroup>
replacestrings.58=final Group ~final RVGroup  
replacestrings.59=<Group>~<RVGroup>
replacestrings.60=extends Group ~extends RVGroup 
replacestrings.61= Group group~ RVGroup group
replacestrings.62=public Group ~ public RVGroup 
replacestrings.63=implements Group,~implements RVGroup,
replacestrings.64=public abstract Group ~public abstract RVGroup 
replacestrings.65=private Group ~private RVGroup 
replacestrings.66=@Nullable Group header~@Nullable RVGroup header
replacestrings.67=@NonNull Group placeholder~@NonNull RVGroup placeholder
replacestrings.68=@NonNull Group header~@NonNull RVGroup header
replacestrings.69=@NonNull Group footer~@NonNull RVGroup footer



 