copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/RelativeLayout.java
relativelayout.include.methods=onMeasure,getPaddingLeftWithForeground,onLayout,generateLayoutParams-ViewGroup.LayoutParams,getPaddingRightWithForeground,getPaddingTopWithForeground\
,getPaddingBottomWithForeground,layoutChildren,setMeasureAllChildren,getMeasureAllChildren,checkLayoutParams,setForegroundGravity,sortChildren,applyHorizontalSizeRules\
,isForegroundInsidePadding,measureChildHorizontal,positionChildHorizontal,applyVerticalSizeRules,measureChild,positionChildVertical,compareLayoutPosition,resolveSize,centerHorizontal\
,centerVertical,getChildMeasureSpec,getRelatedViewParams,getRelatedViewBaselineOffset,getRelatedView,setGravity,setIgnoreGravity,addRule,forceLayout,requestLayout,resolveLayoutDirection,setLayoutDirection,generateDefaultLayoutParams,positionAtEdge,getGravity,getBaseline
relativelayout.exclude.methods=
relativelayout.include.fields=type:int,type:boolean,mMatchParentChildren,mSortedHorizontalChildren,mSortedVerticalChildren,mBaselineView,mSelfBounds,mContentBounds,mRules,mInitialRules,RULES_VERTICAL,RULES_HORIZONTAL,mGraph
relativelayout.exclude.fields=POPULATING_ACCESSIBILITY_EVENT_TYPES
relativelayout.include.classes=RelativeLayout,LayoutParams
relativelayout.exclude.classes=
relativelayout.include.variable=
relativelayout.exlude.variable=
relativelayout.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,android.os.Build,android.util.ArrayMap,android.util.Pools.SynchronizedPool,android.util.SparseArray,java.util.ArrayDeque
relativelayout.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,getRules,hasRelativeRules,resolveRules,addRule,resolveLayoutDirection,isRelativeRule,shouldResolveLayoutDirection,removeRule,getRule
layoutparams.exclude.methods=
dependencygraph.include.methods=*
dependencygraph.exclude.methods=

node.include.methods=*
node.exclude.methods=

replacestrings.0=View view;~@com.google.j2objc.annotations.Weak View view;
