copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/Space.java
space.include.methods=onMeasure,getDefaultSize2,generateDefaultLayoutParams
space.exclude.methods=
space.include.fields=type:int,type:boolean,mMatchParentChildren
space.exclude.fields=
space.include.classes=Space,LayoutParams
space.exclude.classes=
space.include.variable=
space.exlude.variable=
space.include.imports=android.view.View
space.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams,setRowSpecSpan,setColumnSpecSpan
layoutparams.exclude.methods=