copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/Switch.java
switch.include.methods=getCompoundPaddingLeft,getCompoundPaddingRight,getText,setSwitchPadding,getSwitchPadding,setSwitchMinWidth,getSwitchMinWidth,onMeasure,onLayout,getMeasuredWidthAndState,getThumbTintList,setThumbTintList,setTrackTintList,getTrackTintList
switch.exclude.methods=
switch.include.fields=type:int,type:boolean,mButtonDrawable,mButtonTintList,mOnCheckedChangeListener,mOnCheckedChangeWidgetListener,mOnLayout,mThumbDrawable,mTempRect,mOffLayout,mTextOn,mTextOff,mTrackDrawable,mThumbTintList,mTrackTintList
switch.exclude.fields=
switch.include.classes=Switch
switch.exclude.classes=
switch.include.variable=
switch.exlude.variable=
switch.include.imports=android.text.TextUtils,android.view.Gravity,android.graphics.drawable.Drawable,android.graphics.Rect,android.graphics.Insets,android.content.res.ColorStateList
switch.exclude.imports=

replacestrings.0=public class Switch~public abstract class Switch
replacestrings.1=Math\\.max\\(mSwitchMinWidth,2 \\* mThumbWidth \\+ paddingLeft \\+ paddingRight\\)~Math.max(Math.max(mSwitchMinWidth,2 * mThumbWidth + paddingLeft + paddingRight), intrinsicWidth)
replacestrings.2=Math\\.max\\(trackHeight,thumbHeight\\)~Math.max(Math.max(trackHeight,thumbHeight), intrinsicHeight)
