copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/TableLayout.java
tablelayout.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,layoutVertical,layoutVertical,layoutHorizontal\
,getVirtualChildCount,measureNullChild,getShowDividers,getDividerDrawable,getVirtualChildAt,getChildrenSkipCount,hasDividerBeforeChildAt\
,measureChildBeforeLayout,getNextLocationOffset,forceUniformWidth,allViewsAreGoneBefore\
,forceUniformHeight,getLocationOffset,setChildFrame,generateLayoutParams-ViewGroup.LayoutParams,checkLayoutParams\
,setBaselineAligned,setBaselineAlignedChildIndex,setGravity,setMeasureWithLargestChildEnabled,setOrientation,setWeightSum\
,findLargestCells,shrinkAndStretchColumns,mutateColumnsWidth,setStretchAllColumns,setShrinkAllColumns,setColumnStretchable,setColumnShrinkable\
,setColumnCollapsed,requestRowsLayout,setLayoutDirection,generateDefaultLayoutParams
tablelayout.exclude.methods=
tablelayout.include.fields=type:int,type:boolean,mDivider,weight,mWeightSum,mMaxAscent,mMaxDescent,mMaxWidths,mShrinkableColumns,mStretchableColumns,mCollapsedColumns
tablelayout.exclude.fields=
tablelayout.include.classes=TableLayout,LayoutParams,TableRow
tablelayout.exclude.classes=
tablelayout.include.variable=
tablelayout.exlude.variable=
tablelayout.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.SparseBooleanArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity
tablelayout.exclude.imports=

layoutparams.include.methods=LayoutParams-default,LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams
layoutparams.exclude.methods=

tablerow.include.methods=*
tablerow.exclude.methods=