copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/TableRow.java
tablerow.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,layoutVertical,layoutVertical,layoutHorizontal\
,getVirtualChildCount,measureNullChild,getShowDividers,getDividerDrawable,getVirtualChildAt,getChildrenSkipCount,hasDividerBeforeChildAt\
,measureChildBeforeLayout,getNextLocationOffset,forceUniformWidth,allViewsAreGoneBefore\
,forceUniformHeight,getLocationOffset,setChildFrame,generateLayoutParams-ViewGroup.LayoutParams,checkLayoutParams\
,setBaselineAligned,setBaselineAlignedChildIndex,setGravity,setMeasureWithLargestChildEnabled,setOrientation,setWeightSum\
,findLargestCells,shrinkAndStretchColumns,mapIndexAndColumns,setColumnsWidthConstraints,getColumnsWidths,forceLayout,requestLayout,setColumnCollapsed,setLayoutDirection,generateDefaultLayoutParams
tablerow.exclude.methods=
tablerow.include.fields=type:int,type:boolean,mColumnToChildIndex,mConstrainedColumnWidths,mOffset,mColumnWidths
tablerow.exclude.fields=
tablerow.include.classes=TableRow,LayoutParams
tablerow.exclude.classes=
tablerow.include.variable=
tablerow.exlude.variable=
tablerow.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.SparseIntArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity
tablerow.exclude.imports=

layoutparams.include.methods=LayoutParams-default,LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams
layoutparams.exclude.methods=
