copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/widget/TextView.java
textview.include.methods=validateAndSetAutoSizeTextTypeUniformConfiguration,getAutoSizeTextType,clearAutoSizeConfiguration,setupAutoSizeText,cleanupAutoSizePresetSizes,supportsAutoSizeText,findLargestTextSizeWhichFits,getAutoSizeMinTextSize,getAutoSizeMaxTextSize,getAutoSizeStepGranularity,autoSizeText,isAutoSizeEnabled,getTotalPaddingLeft,getTotalPaddingRight,setMaxLines,getMaxLines,setLines,setMinEms,getMinEms,setMinWidth,getMinWidth,setMaxEms,getMaxEms,setMaxWidth,getMaxWidth,setEms,setWidth,setMinLines,getMinLines,setMinHeight,getMinHeight,setMaxHeight,getMaxHeight,getLayoutAlignment,setGravity,getGravity,getTextDirectionHeuristic,setAutoSizeTextTypeUniformWithPresetSizes,setupAutoSizeUniformPresetSizesConfiguration,setTextColor,getCurrentTextColor,updateTextColors,getHintTextColors,getCurrentHintTextColor,getLinkTextColors,drawableStateChanged,setHintTextColor,setLinkTextColor,getPaint,addTextChangedListener,removeTextChangedListener
textview.exclude.methods=
textview.include.fields=AUTO_SIZE_TEXT_TYPE_NONE,AUTO_SIZE_TEXT_TYPE_UNIFORM,DEFAULT_AUTO_SIZE_MIN_TEXT_SIZE_IN_SP,DEFAULT_AUTO_SIZE_MAX_TEXT_SIZE_IN_SP,DEFAULT_AUTO_SIZE_GRANULARITY_IN_PX,mAutoSizeTextType,mAutoSizeTextSizesInPx,mNeedsAutoSizeText,mAutoSizeStepGranularityInPx,mAutoSizeMinTextSizeInPx,mAutoSizeMaxTextSizeInPx,mHasPresetAutoSizeValues,autoSizeMin,autoSizeMax,autoSizeGranular,UNSET_AUTO_SIZE_UNIFORM_CONFIGURATION_VALUE,TEMP_RECTF,INT,LINES,EMS,PIXELS,mMaximum,mMaxMode,mMinimum,mMinMode,mMaxWidth,mMaxWidthMode,mMinWidth,mMinWidthMode,mGravity,mLayout,mHintLayout,type:ColorStateList,mCurTextColor,mCurHintTextColor,mEditor,mTextPaint,mDrawables,mListeners,url
textview.exclude.fields=
textview.exclude.classes=
textview.include.variable=
textview.exlude.variable=
textview.include.imports=java.util.Arrays,android.graphics.RectF,android.view.View,android.util.IntArray,libcore.util.EmptyArray,android.view.Gravity,android.text.Layout,android.text.TextDirectionHeuristic,android.text.TextDirectionHeuristics,java.text.DecimalFormatSymbols,android.util.DisplayMetrics,android.view.KeyEvent,android.content.res.ColorStateList,android.graphics.drawable.Drawable,java.util.ArrayList,android.text.TextWatcher
textview.exclude.imports=
textview.include.classes=TextView,OnEditorActionListener

copyfilesfromurlDestLocation=../../core-javafx-widget/SWTAndroid/src/main/java/r/
copyfilesfromurl.0=https://android.googlesource.com/platform/frameworks/base/+/master/graphics/java/android/graphics/RectF.java?format=TEXT
copyfilesfromurl.1=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/util/IntArray.java?format=TEXT
copyfilesfromurl.2=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/text/TextDirectionHeuristics.java?format=TEXT
copyfilesfromurl.3=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/text/TextDirectionHeuristic.java?format=TEXT
copyfilesfromurl.4=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/text/TextWatcher.java?format=TEXT
copyfilesfromurl.5=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/text/Editable.java?format=TEXT
copyfilesfromurl.5=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/text/GetChars.java?format=TEXT


replacestrings.0=class TextView extends View~abstract class TextView extends com.ashera.view.BaseMeasurableView implements com.ashera.widget.IMeasureWidth, com.ashera.widget.IMeasureHeight 
replacestrings.1=mEditor != null && \\(mEditor\\.mInputType & EditorInfo\\.TYPE_MASK_CLASS\\) == EditorInfo\\.TYPE_CLASS_PHONE~isTypePhone()
replacestrings.2=DecimalFormatSymbols~java.text.DecimalFormatSymbols
replacestrings.3=symbols\\.getDigitStrings\\(\\)~getDigitStrings(symbols)
replacestrings.4=int color=mTextColor\\.getColorForState\\(drawableState,0\\);~int color= 0; if (mTextColor != null) { color= mTextColor.getColorForState(drawableState,0);}
replacestrings.5=color != mCurTextColor~mTextColor != null && color != mCurTextColor

oneditoractionlistener.include.methods=*
oneditoractionlistener.exclude.methods=

dependent.files.0=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/text/util/Linkify.java?format=TEXT

linkify.include.methods=addLinks-Spannable-Pattern-String,addLinks-Spannable-Pattern-String-MatchFilter-TransformFilter,addLinks-Spannable-Pattern-String-String[]-MatchFilter-TransformFilter,addLinks-Spannable-Pattern-String-String[]-MatchFilter-TransformFilter-Function,addLinks-Spannable-Pattern-String-String[]-MatchFilter-TransformFilter-Function,containsUnsupportedCharacters,gatherLinks,pruneOverlaps,makeUrl,addLinks-Spannable-int-Context-Function,addLinks-Spannable-int,addLinks-Spannable-int-Function
linkify.exclude.methods=
linkify.include.fields=type:int,type:boolean,sUrlMatchFilter,sPhoneNumberMatchFilter,sPhoneNumberTransformFilter,LOG_TAG,url
linkify.exclude.fields=
linkify.include.classes=Linkify,MatchFilter,TransformFilter,LinkSpec
linkify.exclude.classes=
linkify.include.variable=
linkify.exlude.variable=
linkify.include.imports=java.util.regex.Matcher,android.util.Patterns,java.util.ArrayList,java.util.regex.Pattern,java.util.function.Function,android.content.Context,android.util.Log,java.util.Comparator,java.util.Collections,libcore.util.EmptyArray,java.util.Locale
linkify.exclude.imports=

matchfilter.include.methods=*
matchfilter.exclude.methods=
matchfilter.include.fields=
matchfilter.exclude.fields=
matchfilter.include.classes=MatchFilter
matchfilter.exclude.classes=
matchfilter.include.variable=
matchfilter.exlude.variable=
matchfilter.include.imports=
matchfilter.exclude.imports=

transformfilter.include.methods=*
transformfilter.exclude.methods=
transformfilter.include.fields=
transformfilter.exclude.fields=
transformfilter.include.classes=TransformFilter
transformfilter.exclude.classes=
transformfilter.include.variable=
transformfilter.exlude.variable=
transformfilter.include.imports=
transformfilter.exclude.imports=



linkspec.include.methods=*
linkspec.exclude.methods=
linkspec.include.fields=*
linkspec.exclude.fields=
linkspec.include.classes=LinkSpec
linkspec.exclude.classes=
linkspec.include.variable=
linkspec.exlude.variable=
linkspec.include.imports=
linkspec.exclude.imports=
copyfilesfromurl.0=https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/util/Patterns.java?format=TEXT


replacestrings.6=r\\.android\\.util\\.EventLog~//r.android.util.EventLo