copyto=../../core-javafx-widget/SWTAndroidToolBar/src/main/java/androidx/appcompat/widget/Toolbar.java
toolbar.include.methods=onMeasure,measureVertical,measureHorizontal,onLayout,layoutVertical,layoutVertical,layoutHorizontal\
,getVirtualChildCount,measureNullChild,getShowDividers,getDividerDrawable,getVirtualChildAt,getChildrenSkipCount,hasDividerBeforeChildAt\
,measureChildBeforeLayout,getNextLocationOffset,forceUniformWidth,allViewsAreGoneBefore,shouldLayout\
,forceUniformHeight,getLocationOffset,setChildFrame,generateLayoutParams-ViewGroup.LayoutParams,checkLayoutParams\
,setBaselineAligned,setBaselineAlignedChildIndex,setGravity,setMeasureWithLargestChildEnabled,setOrientation,setWeightSum,forceLayout,requestLayout,setLayoutDirection,generateDefaultLayoutParams,\
measureChildConstrained,getHorizontalMargins,getVerticalMargins,getContentInsetStart,getContentInsetEnd,measureChildCollapseMargins,shouldCollapse,\
shouldCollapse,getMinimumHeightCompat,layoutChildRight,layoutChildLeft,getContentInsetLeft,getContentInsetRight,addCustomViewsWithGravity,getViewListMeasuredWidth,getChildTop,getAbsoluteGravity,\
getChildHorizontalGravity,getChildVerticalGravity,addSystemView,getCurrentContentInsetStart,getCurrentContentInsetEnd,getCurrentContentInsetLeft,getCurrentContentInsetRight,getNavigationIcon,\
setTitleMarginStart,setTitleMarginEnd,setTitleMarginTop,setTitleMarginEnd,setTitleMargin,setTitleMarginBottom,getContentInsetStart,getContentInsetEnd,setContentInsetsAbsolute,setContentInsetsRelative,getContentInsetLeft,getContentInsetRight,ensureContentInsets,setContentInsetStartWithNavigation,setContentInsetEndWithActions
toolbar.exclude.methods=
toolbar.include.fields=type:int,type:boolean,mDivider,weight,mWeightSum,mMaxAscent,mMaxDescent,mTempMargins,mContentInsets,mTempViews,mHiddenViews,mContentInsets
toolbar.exclude.fields=
toolbar.include.classes=Toolbar,LayoutParams,OnMenuItemClickListener
toolbar.exclude.classes=
toolbar.include.variable=
toolbar.exlude.variable=
toolbar.include.imports=android.view.ViewGroup,android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.view.View,android.view.Gravity,java.util.List,androidx.core.view.ViewCompat,android.os.Build,\
androidx.core.view.MarginLayoutParamsCompat,androidx.core.view.GravityCompat,android.view.MenuItem
toolbar.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,LayoutParams-int-int-int,LayoutParams-LayoutParams,LayoutParams-ViewGroup.LayoutParams
layoutparams.exclude.methods=

#copy.files.0=../../core-javafx-widget/javafx_widget_Library/gen/r/android/support/v7/widget/RtlSpacingHelper.java:../../core-javafx-widget/SWTAndroid/src/main/java/r/android/support/v7/widget/RtlSpacingHelper.java
#copy.files.1=../../core-javafx-widget/javafx_widget_Library/gen/r/android/support/v7/widget/ViewUtils.java:../../core-javafx-widget/SWTAndroid/src/main/java/r/android/support/v7/widget/ViewUtils.java

copyfilesfromurl.0=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/appcompat/appcompat/src/main/java/androidx/appcompat/widget/RtlSpacingHelper.java?format=TEXT
#copyfilesfromurl.1=https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/appcompat/appcompat/src/main/java/androidx/appcompat/widget/ViewUtils.java?format=TEXT

copyfilesfromurlDestLocation=../../core-javafx-widget/SWTAndroidToolBar/src/main/java/

replacestrings.0=final MenuBuilder~//final MenuBuilder
replacestrings.1=hasActions=mb~//hasActions=mb
replacestrings.toolbar.java.0=getDrawable\\(\\)~getImageDrawable()


onmenuitemclicklistener.include.methods=*
onmenuitemclicklistener.exclude.methods=
onmenuitemclicklistener.include.fields=
onmenuitemclicklistener.exclude.fields=
onmenuitemclicklistener.include.classes=OnMenuItemClickListener
onmenuitemclicklistener.exclude.classes=
onmenuitemclicklistener.include.variable=
onmenuitemclicklistener.exlude.variable=
