copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/view/View.java
view.include.methods=measure,onMeasure,setMeasuredDimension,isLayoutRequested,isLayoutModeOptical,setOpticalFrame,layout, \
	 			setFrame,setMeasuredDimensionRaw,getOpticalInsets,setMeasuredDimensionRaw,getSuggestedMinimumWidth,getMinimumHeight,onLayout,invalidate,invalidateInternal,skipInvalidate,isOpaque, \
	 			getDefaultSize,getSuggestedMinimumHeight,onSizeChanged,getProjectionReceiver,isProjectionReceiver, \
	 			invalidateParentCaches,computeOpticalInsets,makeMeasureSpec,resolveRtlPropertiesIfNeeded,needRtlPropertiesResolution,isLayoutDirectionResolved,resolveLayoutDirection,resolveLayoutParams, \
	 			isTextDirectionResolved,resolveTextDirection,isTextAlignmentResolved,resolveTextAlignment,areDrawablesResolved,resolveDrawables,isPaddingResolved,resolvePadding, \
	 			onRtlPropertiesChanged,canResolveLayoutDirection,internalSetPadding,getRawLayoutDirection, \
	 			isLayoutRtl,getRawTextDirection,canResolveTextDirection,requestLayout,getVisibility,setVisibility \
	 			,getRawTextAlignment,canResolveTextAlignment,getParent,isLayoutDirectionInherited,getLayoutParams\
	 			,getLeft,getRight,getTop,getBottom,getMeasuredWidth,getMeasuredHeight,getPaddingLeftWithForeground,getPaddingRightWithForeground\
	 			,getPaddingTopWithForeground,getPaddingBottomWithForeground,getForeground,resolveSizeAndState,isForegroundInsidePadding,getMeasuredState,combineMeasuredStates\
	 			,getBaseline,setLayoutParams,assignParent,getWidth,getHeight,getPaddingTop,getPaddingBottom,getPaddingRight,getPaddingLeft,setPadding\
	 			,resetResolvedPaddingInternal,getForegroundGravity,setForegroundGravity,resolveSize,findViewById,findViewTraversal,forceLayout,\
	 			requestLayout,makeMeasureSpec,getLayoutDirection,invalidateInheritedLayoutMode,setLayoutDirection,resetRtlProperties,\
	 			resetResolvedLayoutDirection,resetResolvedTextDirection,resetResolvedTextAlignment,resetResolvedPadding,resetResolvedDrawables,resetResolvedDrawablesInternal,\
	 			getPaddingStart,getPaddingEnd,setMinimumHeight,getMinimumHeight,getMinimumWidth,setMinimumWidth,setPaddingRelative,getPaddingStart,getPaddingEnd,getTag,setTag,getMaximumHeight,setMaximumHeight,setKeyedTag,\
	 			offsetTopAndBottom,offsetLeftAndRight,invalidateViewProperty,invalidateParentIfNeededAndWasQuickRejected,invalidateParentIfNeeded,setEnabled,isEnabled,isLayoutValid,isLaidOut,isFocused,canTakeFocus,clearParentsWantFocus,\
	 			clearParentsWantFocus,hasParentWantsFocus,hasSize,isShown,getWindowVisibility,setLongClickable,isLongClickable,setForeground,isStateful,setTextAlignment,getTextAlignment,setTextDirection,getTextDirection,setPressed,refreshDrawableState,\
	 			dispatchSetPressed,getDrawableState,onCreateDrawableState,setDuplicateParentStateEnabled,isDuplicateParentStateEnabled,setClickable,isClickable,setHovered,isHovered,onHoverChanged,\
	 			setFocusable,isFocusable,onFocusableChanged,setActivated,isActivated,dispatchSetActivated,isPressed,isSelected,mergeDrawableStates,setWillNotDraw,setBackgroundTintList,getBackgroundTintList,setForegroundTintList,getForegroundTintList,setOnKeyListener,getListenerInfo,getMeasuredWidthAndState,setSelected,dispatchSetSelected,getRootView,canScrollVertically,canScrollVertically,canScrollHorizontally,\
	 			computeHorizontalScrollRange,computeHorizontalScrollOffset,computeHorizontalScrollExtent,computeVerticalScrollOffset,computeVerticalScrollRange,computeVerticalScrollExtent
view.exclude.methods=
view.include.fields=type:int,type:boolean,type:LongSparseLongArray,mForegroundInfo,mBackground,mLayoutParams,mParent,mLayoutInsets,mDrawable,VIEW_LOG_TAG,mTag,mKeyedTags,mContext,mRoundScrollbarRenderer,mDefaultFocusHighlight,mDrawableState,mSelfBounds,mOverlayBounds,mBackgroundTint,mTintInfo
view.exclude.fields=POPULATING_ACCESSIBILITY_EVENT_TYPES,DEBUG_CORNERS_COLOR
view.include.classes=View,MeasureSpec,ForegroundInfo,OnFocusChangeListener,OnClickListener,OnLongClickListener,OnKeyListener,OnContextClickListener,OnHoverListener,OnDragListener,OnScrollChangeListener,OnTouchListener
view.exclude.classes=
view.include.variable=
view.exlude.variable=
view.include.imports=android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,android.util.LayoutDirection,java.lang.Math.max,java.util.Locale,java.util.ArrayList\
,android.util.Log,android.os.Build.VERSION_CODES,android.util.SparseArray,android.content.Context,android.content.Intent,android.os.Build,android.util.StateSet,java.util.Arrays,android.content.res.ColorStateList,android.view.accessibility.AccessibilityEvent
view.exclude.imports=

measurespec.include.methods=*
measurespec.exclude.methods=

attachinfo.include.methods=
attachinfo.exclude.methods=*

onfocuschangelistener.include.methods=*
onfocuschangelistener.exclude.methods=

onclicklistener.include.methods=*
onclicklistener.exclude.methods=

onlongclicklistener.include.methods=*
onlongclicklistener.exclude.methods=


onkeylistener.include.methods=*
onkeylistener.exclude.methods=

oncontextclicklistener.include.methods=*
oncontextclicklistener.exclude.methods=

onhoverlistener.include.methods=*
onhoverlistener.exclude.methods=

ondraglistener.include.methods=*
ondraglistener.exclude.methods=


onscrollchangelistener.include.methods=*
onscrollchangelistener.exclude.methods=

ontouchlistener.include.methods=*
ontouchlistener.exclude.methods=


replacestrings.0=Object mTag=null;~@com.google.j2objc.annotations.Weak Object mTag=null;
replacestrings.1=protected ViewParent mParent;~@com.google.j2objc.annotations.Weak protected ViewParent mParent;
  
