copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/view/ViewGroup.java
viewgroup.include.methods=getChildAt,getChildCount,measureChildren,measureChild,getChildMeasureSpec,getTextDirection,isLayoutModeOptical,measureChildWithMargins\
,addView,generateDefaultLayoutParams,checkLayoutParams,onSetLayoutParams,addInArray,removeView,indexOfChild,removeFromArray,removeAllViews,getLayoutDirection\
,findViewTraversal,forceLayout,requestLayout,makeMeasureSpec,getLayoutMode,setLayoutMode,setBooleanFlag,invalidateInheritedLayoutMode,hasBooleanFlag,setLayoutDirection\
,addViewInner,addChild,hideChild,removeChild,removeViewInternal,removeAllViewsInLayout,removeViewAt,detachAllViewsFromParent,offsetChildrenTopAndBottom,attachViewToParent,addViewInLayout,cleanupLayoutState,detachViewsFromParent,isShown,setOnHierarchyChangeListener,onViewAdded,onViewRemoved,dispatchViewAdded,dispatchViewRemoved,childDrawableStateChanged,dispatchSetPressed,drawableStateChanged,\
onCreateDrawableState,setAddStatesFromChildren,addStatesFromChildren,setClipToPadding,getClipToPadding,detachViewFromParent
viewgroup.exclude.methods=
viewgroup.include.fields=type:int,type:boolean,type:LongSparseLongArray,mRenderNode,mForegroundInfo,mBackground,mLayoutParams,mParent,mChildrenCount,mMarginFlags,isLayoutModeOptical,mTransitioningViews,mLastTouchDownTime,mTransientIndices,mFocused,mCurrentDragStartEvent,mCurrentDragStartEvent,mFocusedInCluster,mChildrenInterestedInDrag,mDefaultFocus,mOnHierarchyChangeListener
viewgroup.exclude.fields=POPULATING_ACCESSIBILITY_EVENT_TYPES
viewgroup.include.classes=ViewGroup,LayoutParams,MarginLayoutParams,OnHierarchyChangeListener
viewgroup.exclude.classes=
viewgroup.include.variable=
viewgroup.exlude.variable=
viewgroup.include.imports=android.graphics.Insets,android.util.LongSparseLongArray,android.graphics.drawable.Drawable,android.graphics.Rect,java.util.ArrayList,java.util.List,java.util.HashSet
viewgroup.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int,resolveLayoutDirection,sizeToString,LayoutParams-LayoutParams,LayoutParams-default
layoutparams.exclude.methods=
viewgroup.include.interfaces=ViewParent

marginlayoutparams.include.methods=MarginLayoutParams-int-int,MarginLayoutParams-MarginLayoutParams,MarginLayoutParams-LayoutParams,copyMarginsFrom,setMargins,setMarginsRelative,setMarginStart,getMarginStart,setMarginEnd\
,getMarginEnd,isMarginRelative,setLayoutDirection,resolveLayoutDirection,doResolveMargins,isLayoutRtl,getLayoutDirection
marginlayoutparams.exclude.methods=

onhierarchychangelistener.include.methods=*
onhierarchychangelistener.exclude.methods=
onhierarchychangelistener.include.interfaces=


replacestrings.0=view\\.getAnimation\\(\\) != null \\|\\| \\(mTransitioningViews != null && mTransitioningViews.contains\\(view\\)\\)~false