copyto=../../core-javafx-widget/SWTAndroid/src/main/java/r/android/view/ViewParent.java
viewparent.include.methods=focusableViewAvailable,invalidateChild,recomputeViewAttributes,isLayoutDirectionResolved,getLayoutDirection,canResolveLayoutDirection,isTextDirectionResolved\
,canResolveTextDirection,isTextAlignmentResolved,canResolveTextAlignment,getParent,isLayoutRequested,requestLayout,getTextAlignment,getTextDirection,invalidateChild,childDrawableStateChanged
viewparent.exclude.methods=
viewparent.include.fields=
viewparent.exclude.fields=
viewparent.include.classes=ViewParent
viewparent.exclude.classes=
viewparent.include.variable=
viewparent.exlude.variable=
viewparent.include.imports=android.graphics.Rect
viewparent.exclude.imports=
