<Plugins>

	<Plugin name="EcommerceApp">
		<Copy from="../../ashera-demo-projects/ashera-phonegap-demo-project/demoapp2/platforms/android/app/src/main/tsc/src" to="android_backup/tsc/src" />
		<Copy from="../../ashera-demo-projects/ashera-phonegap-demo-project/demoapp2/platforms/android/app/src/main/res" to="android_backup/res" />
	</Plugin>
	<Plugin name="playground">
		<Copy from="../../ashera-demo-projects/ashera-phonegap-demo-project/playground/platforms/android/app/src/main/tsc/src" to="android_backup/tsc/src" />
		<Copy from="../../ashera-demo-projects/ashera-phonegap-demo-project/playground/platforms/android/app/src/main/res" to="android_backup/res" />
	</Plugin>
	
	<Plugin name="TradeApp">
		<Copy from="../../ashera-demo-projects/ashera-phonegap-demo-project/demoapp1/platforms/android/app/src/main/tsc/src" to="android_backup/tsc/src" />
		<Copy from="../../ashera-demo-projects/ashera-phonegap-demo-project/demoapp1/platforms/android/app/src/main/res" to="android_backup/res" />
	</Plugin>

	<Plugin name="AsheraCore">
		<Copy from="../../core-android-widget/AndroidCorePlugin" to="core/android" >
		</Copy>
		<Copy from="../../core-ios-widgets/IOSCorePlugin" to="core/ios" />
		<Copy from="../../core-web-widget/WebCorePlugin" to="core/browser" />
		<Copy from="../../core-javafx-widget/SWTCorePlugin" to="core/swt" />
		
		<Copy from="../../core-android-widget/AndroidToolsPlugin" to="tools/android" />

		<Copy from="../../core-android-widget/AndroidConverterPlugin" to="converter/android" />
		<Copy from="../../core-ios-widgets/IOSConverter" to="converter/ios" />
		<Copy from="../../core-web-widget/WebConverterPlugin" to="converter/browser" />
		<Copy from="../../core-javafx-widget/SWTConveterPlugin" to="converter/swt" />
		
		<Copy from="../../core-android-widget/AndroidJsonAdapter" to="json/android" />
		<Copy from="../../core-ios-widgets/IOSJSONAdapter" to="json/ios" />
		<Copy from="../../core-web-widget/WebJSONAdapter" to="json/browser" />
		<Copy from="../../core-javafx-widget/SWTJSONAdapter" to="json/swt" />
		
		<Copy from="../../core-android-widget/AndroidLayouts" to="layout/android" />
		<Copy from="../../core-ios-widgets/ios_widget_library" to="layout/ios" />
		<Copy from="../../core-web-widget/web-widget-library" to="layout/browser" />
		<Copy from="../../core-javafx-widget/javafx_widget_library" to="layout/swt" />
		
		<ReplaceString name="plugins/com.ashera.core/res-onetime" replace="plugins/com.ashera.core/core/android/res-onetime" target="core/android/hooks/afterInstall.js"/>
		<ReplaceString name="plugins/com.ashera.core/tsc-onetime" replace="plugins/com.ashera.core/core/android/tsc-onetime" target="core/android/hooks/afterInstall.js"/>
	</Plugin>
	<Plugin name="CSSBorder">
		<Copy from="../../core-android-widget/AndroidCSSBorderPlugin" to="android" />
		<Copy from="../../core-ios-widgets/IOSCSSBorderPlugin" to="ios" />
		<Copy from="../../core-web-widget/WebCSSBorderPlugin" to="browser" />
		<Copy from="../../core-javafx-widget/SWTCSSBorderPlugin" to="swt" />
	</Plugin>
	<Plugin name="ConstraintLayout">
		<Copy from="../../core-android-widget/AndroidXConstraintLayout" to="android" />
		<Copy from="../../core-ios-widgets/IOSAndroidXConstraintLayoutPlugin" to="ios" />
		<Copy from="../../core-web-widget/WebAndroidXConstraintLayoutPlugin" to="browser" />
		<Copy from="../../core-javafx-widget/SWTAndroidXConstraintLayoutPlugin" to="swt" />
	</Plugin>
	
	<Plugin name="GridLayout">
		<Copy from="../../core-android-widget/AndroidXGridLayoutPlugin" to="android" />
		<Copy from="../../core-ios-widgets/IOSAndroidXGridLayoutPlugin" to="ios" />
		<Copy from="../../core-web-widget/WebAndroidXGridLayoutPlugin" to="browser" />
		<Copy from="../../core-javafx-widget/SWTAndroidXGridLayoutPlugin" to="swt" />
	</Plugin>
	
	<Plugin name="CapInsets">
		<Copy from="../../core-android-widget/AndroidCapInsetsPlugin" to="android" />
		<Copy from="../../core-ios-widgets/IOSCapInsetsPlugin" to="ios" />
		<Copy from="../../core-web-widget/WebCapInsetsPlugin" to="browser" />
		<Copy from="../../core-javafx-widget/SWTCapInsetsPlugin" to="swt" />
	</Plugin>
	
	<Plugin name="RecycleView">
		<Copy from="../../core-android-widget/AndroidRecycleViewPlugin" to="android" />
		<Copy from="../../core-ios-widgets/IOSRecycleViewPlugin" to="ios" />
		<Copy from="../../core-web-widget/WebRecycleViewPlugin" to="browser" />
		<Copy from="../../core-javafx-widget/SWTRecycleViewPlugin" to="swt" />
	</Plugin>
	
	<Plugin name="Toolbar">
		<Copy from="../../core-android-widget/AndroidToolbarPlugin" to="android" />
		<Copy from="../../core-ios-widgets/IOSToolbarPlugin" to="ios" />
		<Copy from="../../core-web-widget/WebToolbarPlugin" to="browser" />
		<Copy from="../../core-javafx-widget/SWTToolbarPlugin" to="swt" />
	</Plugin>
	
	<Plugin name="Drawer">
		<Copy from="../../core-android-widget/AndroidNavigationDrawerPlugin" to="android" />
		<Copy from="../../core-ios-widgets/IOSNavigationDrawerPlugin" to="ios" />
		<Copy from="../../core-web-widget/WebNavigationDrawerPlugin" to="browser" />
		<Copy from="../../core-javafx-widget/SWTNavigationDrawerPlugin" to="swt" />
	</Plugin>
	
	<Plugin name="DateTime">
		<Copy from="../../core-android-widget/AndroidDateTimePlugin" to="android" />
		<Copy from="../../core-ios-widgets/IOSDateTimePlugin" to="ios" />
		<Copy from="../../core-web-widget/WebDateTimePlugin" to="browser" />
		<Copy from="../../core-javafx-widget/SWTDateTimePlugin" to="swt" />
	</Plugin>
	
	<Plugin name="Glide">
		<Copy from="../../core-android-widget/AndroidGlidePlugin" to="android" />
	</Plugin>
	
	<Plugin name="Picasso">
		<Copy from="../../core-android-widget/AndroidPicassoPlugin" to="android" />
	</Plugin>
	
	<Plugin name="ShutterBug">
		<Copy from="../../core-android-widget/AndroidShutterBugPlugin" to="android" />
		<Copy from="../../core-ios-widgets/IOSShutterBugPlugin" to="ios" />
		<Copy from="../../core-javafx-widget/SWTShutterBugPlugin" to="swt" />
	</Plugin>
	
	<Plugin name="Custom">
		<Copy from="../../core-widget_library/CustomPlugin" to="" />
	</Plugin>
	
	<Plugin name="Splash">
		<Copy from="../../core-web-widget/WebSplashPlugin" to="browser" >
			<ReplaceString name="cordova-plugin-splashscreen-web" replace="cordova-plugin-splashscreen-ashera" />
		</Copy>
		<Copy from="../../core-javafx-widget/SWTSplashPlugin" to="swt" />
		
		<ReplaceString name="cordova-plugin-splashscreen-web" replace="cordova-plugin-splashscreen-ashera" target="package.json"/>
	</Plugin>
	
	<Plugin name="Dialog">
		<Copy from="../../core-widget_library/cordova-plugin-spinnerdialog" to="android_ios" />
		<Copy from="../../core-web-widget/WebSpinnerDialog" to="browser" />
		<Copy from="../../core-javafx-widget/SWTSpinnerDialog" to="swt" />
	</Plugin>
	
	<Plugin name="Custom">
		<Copy from="../../core-widget_library/CustomPlugin" to="" />
	</Plugin>
	
	<Plugin name="cordova-swt">
		<Copy from="../../core-javafx-widget/cordova-swt" to="" />
	</Plugin>
	
	<Plugin name="cordova-web">
		<Copy from="../../core-web-widget/cordova-web" to="" />
	</Plugin>
	
	<Plugin name="Documentation">
		<Copy from="quirkreport/doc" to="doc" />
		<Copy from="documentation" to="" />
	</Plugin>
	

	<Plugin name="IQkeyboardManager">
		<Copy from="../../core-ios-widgets/IOSIQkeyboardManagerPlugin" to="ios">
		<ReplaceString name="ios/IQKeyboardManager" replace="IQKeyboardManager" />
		</Copy>
		
	</Plugin>	
	
	<Plugin name="SDWebImagePlugin">
		<Copy from="../../core-ios-widgets/IOSSDWebImagePlugin" to="ios">
		<ReplaceString name="ios/SDWebImage" replace="SDWebImage" />
		</Copy>
	</Plugin>
	
	<Plugin name="cordova-plugin-camera-swt">
		<Copy from="../../core-javafx-widget/cordova-plugin-camera-swt" to="" />
	</Plugin>
	
	<Plugin name="cordova-plugin-sqlite-2-swt">
		<Copy from="../../core-javafx-widget/cordova-plugin-sqlite-2-swt" to="" />
	</Plugin>
	
	
	<Plugin name="cordova-plugin-qrscanner-swt">
		<Copy from="../../core-javafx-widget/cordova-plugin-qrscanner" to="" />
	</Plugin>

	<Plugin name="IndexedDb">
		<Copy from="../../core-widget_library/Plugin_Indexeddb" to="" />
	</Plugin>
	
	<Plugin name="CustomWidgetExtension">
		<Copy from="../../core-android-widget/AndroidCustomWidgetExtension" to="android" />
		<Copy from="../../core-ios-widgets/IOSCustomWidgetExtension" to="ios" />
		<Copy from="../../core-web-widget/WebCustomWidgetExtension" to="browser" />
		<Copy from="../../core-javafx-widget/SWTCustomWidgetExtension" to="swt" />
	</Plugin>
	<Plugin name="CodePoacher">
		<Copy from="templates" to="templates" />
		<Copy from="resources" to="resources" />
		<Copy from="configimpl/common.properties" to="configimpl" />
		<Copy from="build-plugin.xml" to="plugin" />
		<Copy from="ant-contrib-0.6.jar" to="plugin" />
		<Copy from="plugintemplate-codegen" to="plugin/plugintemplate-codegen" />
		<Copy from="plugintemplate" to="plugin/plugintemplate" />
		<Copy from="quirkreport/doc/packagetemplates" to="quirkreport/doc/packagetemplates" />
		<Copy from="quirkreport/doc/js" to="quirkreport/doc/js" />
		<Copy from="quirkreport/doc/img" to="quirkreport/doc/img" />
		<Copy from="quirkreport/doc/allclasses-frame.ftl" to="quirkreport/doc" />
		<Copy from="quirkreport/doc/allclasses-noframe.ftl" to="quirkreport/doc" />
		<Copy from="quirkreport/doc/overview-frame.ftl" to="quirkreport/doc" />
		<Copy from="quirkreport/doc/overview-summary.ftl" to="quirkreport/doc" />
		<Copy from="quirkreport/doc/index.html" to="quirkreport/doc" />
		<Copy from="quirkreport/doc/script.js" to="quirkreport/doc" />
		<Copy from="quirkreport/doc/help-doc.html" to="quirkreport/doc" />
		<Copy from="quirkreport/doc/stylesheet.css" to="quirkreport/doc" />
		<ReplaceString name="onRtlPropertiesChange,onDraw,requestDisallowInterceptTouchEvent,addView,removeView,removeViewAt,onInitializeAccessibilityEventInternal,onInitializeAccessibilityNodeInfoInternal,onRestoreInstanceState,popupContext" replace="" target="resources/datatype.properties"/>
	</Plugin>
	
	<Plugin name="widget_library">
		<Copy from="../../core-widget_library/widget_library" to="" />
	</Plugin>
	
	<Plugin name="Plugin_HtmlParser">
		<Copy from="../../core-widget_library/Plugin_HtmlParser" to="" />
	</Plugin>
	
	<Plugin name="Plugin_Converter">
		<Copy from="../../core-widget_library/Plugin_Converter" to="" />
	</Plugin>
	
	<Plugin name="html_parser">
		<Copy from="../../core-widget_library/html_parser" to="" />
	</Plugin>
	
	<Plugin name="css_parser">
		<Copy from="../../core-widget_library/css_parser" to="" />
	</Plugin>
	
	<Plugin name="code_generator">
		<Copy from="../../core-widget_library/code_generator" to="" />
	</Plugin>
	
</Plugins>
